<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Entity Table Condensed 2" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/entity.tablecondensed2.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->


    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                exec aspdnsf_GetProducts 
                    @categoryID = @CatID,
                    @sectionID = @SecID,
                    @manufacturerID = @ManID,
                    @distributorID = @DistID,
                    @genreID = @GenreID,
                    @vectorID = @VectorID,
                    @localeName = @locale,
                    @CustomerLevelID = @CustLevelID,
                    @affiliateID = @AffID,
                    @ProductTypeID = @ProdTypeID, 
                    @ViewType = 1,
                    @pagenum = @pgnum,
                    @pagesize = null,
                    @StatsFirst = 0,
                    @publishedonly = 1,
                    @ExcludePacks = 0,
                    @ExcludeKits = 0,
                    @ExcludeSysProds = 0,
                    @InventoryFilter = @InvFilter,
                    @sortEntityName = @entityname
            ]]>
        </sql>
        <queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@SecID" paramtype="runtime" requestparamname="SecID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@ManID" paramtype="runtime" requestparamname="ManID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@DistID" paramtype="runtime" requestparamname="DistID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@GenreID" paramtype="runtime" requestparamname="GenreID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@VectorID" paramtype="runtime" requestparamname="VectorID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US"  validationpattern="" />
        <queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="1"  validationpattern="" />
        <queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
        <queryparam paramname="@InvFilter" paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@entityname" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue=""  validationpattern="" />
    </query>


    <PackageTransform>
    
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
          <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="ShowSubcatsInGrid"><xsl:value-of select="aspdnsf:AppConfig('ShowSubcatsInGrid')" /></xsl:param>
            <xsl:param name="SubcatGridCols"><xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth" /></xsl:param>
            <xsl:param name="EntityName"><xsl:value-of select="/root/Runtime/EntityName" /></xsl:param>
            <xsl:param name="EntityID"><xsl:value-of select="/root/Runtime/EntityID" /></xsl:param>
            <xsl:param name="HidePicsInTableCondensed"><xsl:value-of select="aspdnsf:AppConfig('HidePicsInTableCondensed')"/></xsl:param>
            <xsl:param name="WholesaleOnlySite"><xsl:value-of select="aspdnsf:AppConfig('WholesaleOnlySite')"/></xsl:param>


            <xsl:param name="BaseURL">
                <xsl:choose>
                    <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'category'">c-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
                    <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'section'">s-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
                    <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'manufacturer'">m-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
                    <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'library'">l-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
                </xsl:choose>
            </xsl:param>

            <xsl:param name="CurrentPage">
                <xsl:choose>
                	<xsl:when test="/root/QueryString/pagenum"><xsl:value-of select="/root/QueryString/pagenum" /></xsl:when>
                	<xsl:otherwise>1</xsl:otherwise>
                </xsl:choose>
            </xsl:param>



            <xsl:template match="/">
				<div>
                <xsl:value-of select="aspdnsf:EntityPageHeaderDescription($EntityName, $EntityID)" disable-output-escaping="yes" />
				</div>
                <xsl:value-of select="aspdnsf:EntityPageFilterOptions($EntityName, $EntityID, /root/Runtime/SecID, /root/Runtime/CatID, /root/Runtime/ManID, /root/Runtime/ProductTypeFilterID)" disable-output-escaping="yes" />
                <xsl:call-template name="SubEntity" />
                <xsl:choose>
                    <xsl:when test="count(/root/Products/Product) = 0 and count(/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/Entity) = 0">
                        <xsl:value-of select="aspdnsf:Topic(concat('empty', /root/Runtime/EntityName, 'text'))" disable-output-escaping="yes" />
                    </xsl:when>
                    <xsl:otherwise>
                                <div style="text-align:right;"><xsl:value-of select="aspdnsf:PagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" /></div>
				                <table border="0" cellpadding="0" cellspacing="4" width="100%">
                                    <xsl:apply-templates select="/root/Products" />
				                </table>
                                <div style="text-align:right;"><xsl:value-of select="aspdnsf:PagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" /></div>
                    </xsl:otherwise>
                </xsl:choose>
            </xsl:template>


            <xsl:template name="SubEntity">
                <xsl:for-each select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[ParentEntityID=/root/Runtime/EntityID]">

                    <xsl:choose>
                	    <xsl:when test="$ShowSubcatsInGrid = 'true'">
                            <table border="0" cellpadding="0" cellspacing="4" width="100%">
                                <xsl:if test="position() mod $SubcatGridCols = 1 or ($SubcatGridCols = 1)">
                                    <tr>
                                     <xsl:for-each select=". | following-sibling::*[position() &lt; $SubcatGridCols]">
                                         <xsl:variable name="scName" select="aspdnsf:GetMLValue(Name)" />

                                        <xsl:call-template name="SubCatCell">
                                            <xsl:with-param name="scName" select="$scName" />
                                        </xsl:call-template>
                                     </xsl:for-each>
                                    </tr>
                                    <tr>
                                        <td height="10" colspan="{$SubcatGridCols}">&#0160;</td>
                                    </tr>
                                </xsl:if>
                            </table>
                        </xsl:when>
                	    <xsl:otherwise>
                            <xsl:variable name="scName" select="aspdnsf:GetMLValue(Name)" />
                            <p align="left">
                                &#0160;&#0160;&#0160;<img border="0" src="{concat('skins/skin_', aspdnsf:SkinID(), '/images/redarrow.gif')}"></img>&#0160;
                                <a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')}">
                                    <xsl:value-of select="$scName" disable-output-escaping="yes"/>
                                </a>
                            </p>
                        </xsl:otherwise>
                    </xsl:choose>
                </xsl:for-each>                
            </xsl:template>
            

            <xsl:template name="SubCatCell">
                <xsl:param name="scName"></xsl:param>
                <xsl:param name="URL"><xsl:value-of select="aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')" /></xsl:param>

                <td align="center">
                    <a href="{$URL}">
                        <xsl:value-of select="aspdnsf:LookupEntityImage(EntityID, $EntityName, 'icon', 0)" disable-output-escaping="yes" />
                    </a>
                    <br/>
                    <a href="{$URL}">
                        <xsl:value-of select="$scName" disable-output-escaping="yes"/>
                    </a>
                </td>

            </xsl:template>
            






            <xsl:template match="Products">
                <tr class="DarkCell">
                    <xsl:if test="$HidePicsInTableCondensed = 'false'">
                        <td><font class="CondensedDarkCellText"><b><xsl:value-of select="aspdnsf:StringResource(concat('show', $EntityName, '.aspx.17'), $LocaleSetting)" disable-output-escaping="yes" /></b></font></td>
                    </xsl:if>
                    <td><font class="CondensedDarkCellText"><b><xsl:value-of select="aspdnsf:StringResource(concat('show', $EntityName, '.aspx.18'), $LocaleSetting)" disable-output-escaping="yes" /></b></font></td>
                    <td><font class="CondensedDarkCellText"><b><xsl:value-of select="aspdnsf:StringResource(concat('show', $EntityName, '.aspx.19'), $LocaleSetting)" disable-output-escaping="yes" /></b></font></td>
                    <td><font class="CondensedDarkCellText"><b><xsl:value-of select="aspdnsf:StringResource(concat('show', $EntityName, '.aspx.24'), $LocaleSetting)" disable-output-escaping="yes" /></b></font></td>
                    <td><font class="CondensedDarkCellText"><b><xsl:value-of select="aspdnsf:StringResource(concat('show', $EntityName, '.aspx.21'), $LocaleSetting)" disable-output-escaping="yes" /></b></font></td>
                </tr>
                <xsl:apply-templates select="/root/Products/Product" />
            </xsl:template>







            <xsl:template match="Product">
                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)" />
                <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)" />
                <xsl:param name="URL"><xsl:value-of select="aspdnsf:ProductandEntityLink(ProductID, SEName, $EntityID, $EntityName, 0)" disable-output-escaping="yes" /></xsl:param>

                <tr>
                    <xsl:if test="position() mod 2 = 1"><xsl:attribute name="class">LightCell</xsl:attribute></xsl:if>
                    <xsl:if test="$HidePicsInTableCondensed = 'false'">
                        <td valign="middle" align="center"><a href="{$URL}"><xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFileNameOverride, SKU, 'icon', 0)" disable-output-escaping="yes" /></a></td>
                    </xsl:if>

                    <td><a href="{$URL}"><xsl:value-of select="$pName" disable-output-escaping="yes" /></a></td>
                    <td><xsl:value-of select="aspdnsf:GetMLValue(ManufacturerName)" /></td>
                    <td>
                        <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
                    </td>
                    <td align="right" valign="bottom">
                        <a href="{$URL}">
                            <img style="cursor:hand;" border="0" src="{concat('skins/skin_', aspdnsf:SkinID(), '/images/moreinfo.gif')}"></img>
                        </a>
                    </td>
                </tr>

            </xsl:template>


        </xsl:stylesheet>
    </PackageTransform>
</package>
