<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Mini Cart" debug="false" includeentityhelper="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /Web/XmlPackages/minicart.xml.config 1                12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->


    <query name="ShoppingCart" rowElementName="Item">
        <sql>
            <![CDATA[
            exec dbo.aspdnsf_GetShoppingCart 0, @customerid, 0, 0
            ]]>
        </sql>
        <queryparam paramname="@customerid" paramtype="system" requestparamname="customerid" sqlDataType="int" defvalue="0"  validationpattern="" />
    </query>


    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
                        xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
          <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="ShowPicsInMiniCart"><xsl:value-of select="aspdnsf:AppConfigBool('ShowPicsInMiniCart')"/></xsl:param>


            <xsl:template match="/">

                <table width="150" cellpadding="2" cellspacing="0" border="0" style="border-style: solid; border-width: 0px; border-color: #{aspdnsf:AppConfig('HeaderBGColor')};" >
                    <tr>
                        <td align="left" valign="top">
                            <img src="{aspdnsf:LocateImageURL(concat('skins/Skin_', /root/System/SkinID, '/images/minicart.gif'))}" border="0"/><br/>
                            <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{aspdnsf:AppConfig('BoxFrameStyle')}">
                                <tr>
                                    <td align="center" valign="top">

                                        <xsl:for-each select="/root/ShoppingCart/Item">
                                            <xsl:if test="$ShowPicsInMiniCart='true'">
                                                <a href="{aspdnsf:ProductLink(ProductID, SEName, 'false', '')}"><xsl:value-of select="aspdnsf:MiniCartProductImage(ProductID, ImageFileNameOverride, ProductSKU)" disable-output-escaping="yes" /></a><br/>
                                            </xsl:if>
                                            <a href="{aspdnsf:ProductLink(ProductID, SEName, 'false', '')}"><xsl:value-of select="aspdnsf:GetMLValue(ProductName)" disable-output-escaping="yes" /><xsl:if test="VariantName != ''">&#0160;-&#0160;<xsl:value-of select="aspdnsf:GetMLValue(VariantName)" disable-output-escaping="yes" /></xsl:if></a><br/>
                                            Qty <xsl:value-of select="Quantity" />&#0160;<xsl:value-of select="aspdnsf:GetCartPrice(ProductID, Quantity, ProductPrice, TaxClassID)" disable-output-escaping="yes" /><br/><br/>
                                        </xsl:for-each>
                        
                                        <xsl:value-of select="aspdnsf:CartSubTotal()" disable-output-escaping="yes" />
                                        <a href="ShoppingCart.aspx"><font color="blue"><b><xsl:value-of select="aspdnsf:StringResource('shoppingcart.cs.80')" disable-output-escaping="yes" /></b></font></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </xsl:template>
            
        </xsl:stylesheet>
    </PackageTransform>
</package>

