<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Email product to a friend" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/product.simpleproduct.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                exec aspdnsf_ProductInfo @ProductID, @CustomerLevelID, 1
            ]]>
        </sql>
        <queryparam paramname="@ProductID" paramtype="request" requestparamname="ProductID" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
        <queryparam paramname="@CustomerLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

            <xsl:template match="/">
                <xsl:param name="pName">
                    <xsl:choose>
                        <xsl:when test="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:otherwise><xsl:value-of select="/root/Products/Product/Name"/></xsl:otherwise>
                    </xsl:choose>
                </xsl:param>

                <xsl:param name="pVName">
                    <xsl:choose>
                        <xsl:when test="/root/Products/Product/VariantName/ml/locale[@name=$LocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="/root/Products/Product/VariantName/ml/locale[@name=$WebConfigLocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:otherwise><xsl:value-of select="/root/Products/Product/VariantName"/></xsl:otherwise>
                    </xsl:choose>
                </xsl:param>
                
                <xsl:param name="FullProductName"><xsl:value-of select="$pName" /><xsl:if test="pVName!=''"> - <xsl:value-of select="$pVName" /></xsl:if></xsl:param>
                
                <xsl:param name="message" select="//Form/*[contains(name(), 'txtmessage')]"></xsl:param>
                <xsl:param name="FromAddress" select="//Form/*[contains(name(), 'txtfromaddress')]"></xsl:param>
                <xsl:param name="URL"><xsl:value-of select="/root/System/StoreUrl" />pc-<xsl:value-of select="/root/QueryString/productid" />-<xsl:value-of select="/root/QueryString/categoryid" />-<xsl:value-of select="/root/Products/Product/SEName" />.aspx</xsl:param>

                <xsl:comment>Copyright 1995-2007 AspDotNetStorefront.com</xsl:comment>
                    <html>
                    <head>
                        <title><xsl:value-of select="aspdnsf:AppConfig('StoreName')" disable-output-escaping="yes" /> - <xsl:value-of select="$FullProductName" disable-output-escaping="yes"/></title>
                    </head>
                    <body>
                        <xsl:value-of select="aspdnsf:StrFormatStringresource('emailproduct.aspx.5', $FromAddress, ',')" disable-output-escaping="yes" /><br/><br/>
                        <b><xsl:value-of select="aspdnsf:StringResource('emailproduct.aspx.6')" disable-output-escaping="yes" /></b><br/><xsl:value-of select="$message" disable-output-escaping="yes"/><br/><br/>
                        <b><xsl:value-of select="aspdnsf:StrFormatStringresource('emailproduct.aspx.7', $FullProductName, ',')" disable-output-escaping="yes" /></b><br/><br/><br/>
                        URL: <a href="{$URL}"><xsl:value-of select="$URL" /></a><br/><br/>
                        <a href="{$URL}">
                            <img border="0" id="ProductPic{/root/QueryString/productid}" src="{aspdnsf:ProductImageUrl(/root/QueryString/productid, /root/Products/Product/ImageFilenameOverride, /root/Products/Product/SKU, 'medium', 1)}" />
                        </a><br /><br/>
                        <p><xsl:value-of select="aspdnsf:AppConfig('StoreName')" disable-output-escaping="yes" /><br/><a href="{/root/System/StoreUrl}"><xsl:value-of select="/root/System/StoreUrl" /></a></p>
                    </body>
                    </html>
                </xsl:template>


        </xsl:stylesheet>
    </PackageTransform>
</package>
