<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="SMS Order Notification Contents" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Copyright AspDotNetStorefront.com, 1995-2006.  All Rights Reserved.					                -->
  <!-- http://www.aspdotnetstorefront.com														                -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- $Header: /v6.1/Web/XmlPackages/notification.adminneworder.xml.config     4/23/06 12:33p Administrator        -->
  <!--                                                                                                        -->
  <!-- ###################################################################################################### -->

  <query name="OrderData" rowElementName="Data">
        <sql>
            <![CDATA[
            select OrderNumber, CustomerID, OrderDate, ShippingMethod, convert(decimal(10,2), OrderTotal) OrderTotal, PaymentMethod 
            from orders 
            where OrderNumber = @ordernumber

            ]]>
        </sql>
        <queryparam paramname="@ordernumber" paramtype="runtime" requestparamname="ordernumber" sqlDataType="int" like="no" defvalue="0"  validationpattern="^\d{1,9}$" />

    </query>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="http://www.aspdotnetstorefront.com" exclude-result-prefixes="aspdnsf">
          <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />
            <xsl:template match="/">
                <html>
			<head>
			<title>New Order Notification</title>
			</head>
			<body>
                 <b>Order Number:</b><xsl:value-of select="/root/OrderData/Data/OrderNumber" /><br/>
                 <b>Order Total:</b><xsl:value-of select="/root/OrderData/Data/OrderTotal" /><br/>
                 <b>Order Date:</b><xsl:value-of select="/root/OrderData/Data/OrderDate" /><br/>
                 <b>Payment Method:</b><xsl:value-of select="/root/OrderData/Data/PaymentMethod" /><br/>
                 <b>Shipping Method:</b><xsl:value-of select="/root/OrderData/Data/ShippingMethod" /><br/>
                 <b>Customer ID:</b><xsl:value-of select="/root/OrderData/Data/CustomerID" /><br/>
                <a href="{/root/System/StoreUrl}receipt.aspx?ordernumber={/root/Runtime/ordernumber}&amp;customerid={customerid}">View online receipt</a><br/>
			</body>
			</html>
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package>
