<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="New Items" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/page.default.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="NewsArticles" rowElementName="Article">
        <sql>
            <![CDATA[
                select top 100 NewsID, NewsGUID, Headline, NewsCopy, CreatedOn
                from news with (nolock) 
                where expireson > getdate() and year(createdon) in (year(getdate()), year(getdate())-1) and Deleted = 0
                order by createdon desc
            ]]>
        </sql>
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
	        <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

            <xsl:template match="/">
                <table width="100%" cellpadding="2" cellspacing="0" border="0">
                    <xsl:attribute name="style">style="border-style: solid; border-width: 0px; border-color: #<xsl:value-of select="aspdnsf:AppConfig('HeaderBGColor')" /></xsl:attribute>
                    <tr>
                        <td align="left" valign="top">
                            <a href="news.aspx"><img src="{aspdnsf:LocateImageURL(concat('skins/Skin_', /root/System/SkinID, '/images/newsexpanded.gif'))}" border="0" /></a><br />
                            <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{aspdnsf:AppConfig('BoxFrameStyle')}">
                                <tr>
                                    <td align="left" valign="top">
                                        <p><b><xsl:value-of select="aspdnsf:AppConfig('NewsTeaser')" disable-output-escaping="yes" /></b></p>
                                        <table width="100%" cellpadding="2" cellspacing="0" border="0">
                                            <xsl:apply-templates select="/root/NewsArticles/Article" />
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </xsl:template>

            <xsl:template match="Article">
                <xsl:param name="pHeadline">
                    <xsl:choose>
                        <xsl:when test="count(Headline/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Headline/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Headline/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="Headline/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Headline/ml)=0">
                            <xsl:value-of select="Headline"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>
              <xsl:param name="pNewsCopy">
                <xsl:choose>
                  <xsl:when test="count(NewsCopy/ml/locale[@name=$LocaleSetting])!=0">
                    <xsl:value-of select="NewsCopy/ml/locale[@name=$LocaleSetting]"/>
                  </xsl:when>
                  <xsl:when test="count(NewsCopy/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                    <xsl:value-of select="NewsCopy/ml/locale[@name=$WebConfigLocaleSetting]"/>
                  </xsl:when>
                  <xsl:when test="count(NewsCopy/ml)=0">
                    <xsl:value-of select="NewsCopy"/>
                  </xsl:when>
                </xsl:choose>
              </xsl:param>

                 <tr>
                    <td width="15%" align="left" valign="top"><div align="left"><b><xsl:value-of select="aspdnsf:GetNativeShortDateString(CreatedOn)" /></b></div></td>
                    <td align="left" valign="top">
                        <div align="left">
						<xsl:choose>
                        <xsl:when test="/root/QueryString/showarticle=NewsID or aspdnsf:AppConfigBool('ShowFullNewsArticle')='false'">
                            <a href="{concat('news.aspx?showarticle=', NewsID)}"><b>
                                <xsl:value-of select="$pHeadline" disable-output-escaping="yes"/>
                                <xsl:if test="$pHeadline=''">
                                    <xsl:value-of select="$pNewsCopy" disable-output-escaping="yes" />
                                </xsl:if>
                                </b>
                            </a>
						</xsl:when>
						<xsl:otherwise>
                            <b><xsl:value-of select="$pHeadline" disable-output-escaping="yes"/></b>
						</xsl:otherwise>
						</xsl:choose>
                        </div>
                        <xsl:if test="/root/QueryString/showarticle=NewsID or aspdnsf:AppConfigBool('ShowFullNewsArticle')='true'">
                            <div align="left"><xsl:value-of select="aspdnsf:Decode($pNewsCopy)" disable-output-escaping="yes" /></div>
                        </xsl:if>
                        <br/>
                    </td>
                </tr>
            </xsl:template>
            
        </xsl:stylesheet>
    </PackageTransform>
</package>
