<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Search" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/entity.tableexpanded2.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="Products" rowElementName="Product" runif="SearchTerm">
        <sql>
            <![CDATA[
                exec aspdnsf_GetProducts 
                    @localeName = @locale,
                    @CustomerLevelID = @CustLevelID,
                    @affiliateID = @AffID,
                    @ProductTypeID = @ProdTypeID, 
                    @ViewType = 0,
                    @pagenum = 1,
                    @pagesize = 2147483647,
                    @StatsFirst = 0,
					@searchstr = @SearchTerm,
                    @publishedonly = 1,
                    @ExcludePacks = 0,
                    @ExcludeKits = 0,
                    @ExcludeSysProds = 1
            ]]>
        </sql>
        <queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US"  validationpattern="" />
        <queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="null"  validationpattern="" />
		<queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
	</query>

    <query name="Categories" rowElementName="Category" runif="SearchTerm">
        <sql>
            <![CDATA[
                exec aspdnsf_SearchCategories @SearchTerm
            ]]>
		</sql>
		<queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
	</query>

	<query name="Sections" rowElementName="Section" runif="SearchTerm">
		<sql>
			<![CDATA[
            exec aspdnsf_SearchSections @SearchTerm
            ]]>
		</sql>
		<queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
	</query>

	<query name="Manufacturers" rowElementName="Manufacturer" runif="SearchTerm">
		<sql>
			<![CDATA[
            exec aspdnsf_SearchManufacturers @SearchTerm
            ]]>
        </sql>
        <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
          <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

            <xsl:template match="/">
                <xsl:value-of select="aspdnsf:Topic('SearchPageHeader')" disable-output-escaping="yes" />
                <script type="text/javascript" Language="JavaScript">
                    function SearchForm2_Validator(theForm)
                    {
                    submitonce(theForm);
                    if (theForm.SearchTerm.value.length &lt; <xsl:value-of select="aspdnsf:AppConfig('MinSearchStringLength')" />);
                    {
                    alert('<xsl:value-of select="aspdnsf:StrFormatStringresource('search.aspx.2', aspdnsf:AppConfig('MinSearchStringLength'), ',')" disable-output-escaping="yes" />');
                    theForm.SearchTerm.focus();
                    submitenabled(theForm);
                    return (false);
                    }
                    return (true);
                    }
                </script>

                <form method="GET" action="search.aspx" onsubmit="return validateForm(this)" name="SearchForm2">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr align="left">
                            <td width="100%" colspan="2">
                                <span style="color:red;font-weight:bold">
                                    <xsl:value-of select="/root/QueryString/errormsg" />
                                </span>
                                <br/>&#0160;&#0160;
                                <xsl:value-of select="aspdnsf:StringResource('search.aspx.3', $LocaleSetting)" disable-output-escaping="yes" />&#0160;
                                <input type="text" name="SearchTerm" size="25" maxlength="70" value="{/root/QueryString/searchterm}"></input>
                                <input type="hidden" name="SearchTerm_Vldt">
                                    <xsl:attribute name="value">
                                        [req][len=<xsl:value-of select="aspdnsf:AppConfig('MinSearchStringLength')" />][blankalert=<xsl:value-of select="aspdnsf:StringResource('search.aspx.4', $LocaleSetting)" disable-output-escaping="yes" />]
                                    </xsl:attribute>
                                </input>
                                &#0160;<input type="submit" value="Search" name="B1" />
                            </td>
                        </tr>
                    </table>
                </form>

                <xsl:if test="aspdnsf:AppConfigBool('Search_ShowCategoriesInResults')='true' and count(/root/Categories/Category)>0">
                    <br />
                    <table width="100%" cellpadding="2" cellspacing="0" style="border-style: solid; border-width: 0px; border-color: #444444">
                        <tr>
                            <td align="left" valign="top">
                                <img border="0" src="{concat('skins/Skin_', aspdnsf:SkinID(), '/images/matchingcategories.gif')}"></img>
                                <br/>
                                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{aspdnsf:AppConfig('BoxFrameStyle')}">
                                    <xsl:apply-templates select="/root/Categories/Category" />
                                </table>
                            </td>
                        </tr>
                    </table>
                </xsl:if>

                <xsl:if test="aspdnsf:AppConfigBool('Search_ShowSectionsInResults')='true' and count(/root/Sections/Section)>0">
                    <br />
                    <table width="100%" cellpadding="2" cellspacing="0" style="border-style: solid; border-width: 0px; border-color: #444444">
                        <tr>
                            <td align="left" valign="top">
                                <img border="0" src="{concat('skins/Skin_', aspdnsf:SkinID(), '/images/matchingsections.gif')}"></img>
                                <br/>
                                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{aspdnsf:AppConfig('BoxFrameStyle')}">
                                    <tr>
                                        <td align="left" valign="top">
                                            <xsl:apply-templates select="/root/Sections/Section" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </xsl:if>

                <xsl:if test="aspdnsf:AppConfigBool('Search_ShowManufacturersInResults')='true' and count(/root/Manufacturers/Manufacturer)>0">
                    <br />
                    <table width="100%" cellpadding="2" cellspacing="0" style="border-style: solid; border-width: 0px; border-color: #444444">
                        <tr>
                            <td align="left" valign="top">
                                <img border="0"  src="{concat('skins/Skin_', aspdnsf:SkinID(), '/images/matchingmanufacturers.gif')}"></img>
                                <br/>
                                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{aspdnsf:AppConfig('BoxFrameStyle')}">
                                    <tr>
                                        <td align="left" valign="top">
                                            <xsl:apply-templates select="/root/Manufacturers/Manufacturer" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </xsl:if>
                
                <xsl:if test="aspdnsf:AppConfigBool('Search_ShowProductsInResults')='true' and count(/root/Products/Product)>0">
                    <br />
                    <table width="100%" cellpadding="2" cellspacing="0" style="{concat('border-style: solid; border-width: 0px; border-color: #', aspdnsf:AppConfig('HeaderBGColor'))}">
                        <tr>
                            <td align="left" valign="top">
                                <img align="bottom" border="0" src="{concat('skins/Skin_', aspdnsf:SkinID(), '/images/matchingproducts.gif')}"></img>
                                <br/>
                                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{aspdnsf:AppConfig('BoxFrameStyle')}">
                                    <tr>
                                        <td align="left" valign="top">
                                            <table cellpadding="0" border="0" cellspacing="1" width="100%">
                                                <tr>
                                                    <td align="left">
                                                        <b>
                                                            <xsl:value-of select="aspdnsf:StringResource('search.aspx.6', $LocaleSetting)" disable-output-escaping="yes" />
                                                        </b>
                                                    </td>
                                                    <td align="center">
                                                        <b>
                                                            <xsl:value-of select="aspdnsf:StringResource('search.aspx.7', $LocaleSetting)" disable-output-escaping="yes" />
                                                        </b>
                                                    </td>
                                                    <td align="center">
                                                        <b>
                                                            <xsl:value-of select="aspdnsf:StringResource('AppConfig.CategoryPromptSingular', $LocaleSetting)" disable-output-escaping="yes" />
                                                        </b>
                                                    </td>

                                                    <xsl:if test="aspdnsf:AppConfigBool('Search_ShowManufacturersInResults')='true'">
                                                        <td align="center">
                                                            <b>
                                                                <xsl:value-of select="aspdnsf:StringResource('search.aspx.8', $LocaleSetting)" disable-output-escaping="yes" />
                                                            </b>
                                                        </td>
                                                    </xsl:if>

                                                </tr>
                                                <xsl:apply-templates select="/root/Products/Product" />
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </xsl:if>

                <xsl:if test="/root/QueryString/searchterm and count(/root/Categories/Category)=0 and count(/root/Sections/Section)=0 and count(/root/Manufacturers/Manufacturer)=0 and count(/root/Products/Product)=0">
                    <p align="left">
                        <xsl:value-of select="aspdnsf:StringResource('search.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
                        <b></b>
                    </p>
                </xsl:if>

                <script type="text/javascript" Language="JavaScript">
                    document.SearchForm2.SearchTerm.focus();
                </script>

                <xsl:value-of select="aspdnsf:Topic('SearchPageFooter')" disable-output-escaping="yes" />

            </xsl:template>



            <xsl:template match="Product">
                <xsl:param name="pName">
                    <xsl:choose>
                        <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting])!=0">
                            <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Name/ml)=0">
                            <xsl:value-of select="Name"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>
                <xsl:param name="vName">
                    <xsl:choose>
                        <xsl:when test="count(VariantName/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(VariantName/ml/locale[@name=$WebConfigLocaleSetting])!=0">
                            <xsl:value-of select="VariantName/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(VariantName/ml)=0">
                            <xsl:value-of select="VariantName"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>

                <xsl:if test="position()!=1">
                    <tr>
                        <td height="1" width="100%" class="LightCell">
                            <xsl:attribute name="colspan">
                                <xsl:choose>
                                    <xsl:when test="aspdnsf:AppConfigBool('Search_ShowManufacturersInResults')='true'">4</xsl:when>
                                    <xsl:otherwise>3</xsl:otherwise>
                                </xsl:choose>
                            </xsl:attribute>
                            <img src="images/spacer.gif" height="1" width="1" />
                        </td>
                    </tr>
                </xsl:if>
                <tr>
                    <td valign="middle" align="left" >
                        <a href="{aspdnsf:ProductLink(ProductID, SEName, 0, '')}">
                            <xsl:value-of select="$pName"  disable-output-escaping="yes" />
                            <xsl:if test="vName!=''">
                                -<xsl:value-of select="$vName" />
                            </xsl:if>
                        </a>
                    </td>
                    <td align="center">
                        <xsl:value-of select="SKU" />
                        <xsl:if test="SKUSuffix!=''">
                            <xsl:value-of select="SKUSuffix" />
                        </xsl:if>
                    </td>
                    <td align="center">
                        <xsl:value-of select="aspdnsf:ProductEntityList(ProductID, 'category')" disable-output-escaping="yes" />
                    </td>
                    <xsl:if test="aspdnsf:AppConfigBool('Search_ShowManufacturersInResults')='true'">
                        <td align="center">
                            <xsl:if test="ManufacturerID!=''">
                                <xsl:value-of select="aspdnsf:ManufacturerLink(ManufacturerID, ManufacturerSEName, 1, ManufacturerName)" disable-output-escaping="yes" />
                            </xsl:if>
                        </td>
                    </xsl:if>
                </tr>
            </xsl:template>




            <xsl:template match="Category">
                <xsl:param name="CatID" select="CategoryID" />
                <xsl:for-each select="/root/EntityHelpers/Category/descendant::Entity[EntityID=$CatID]">
                    <tr>
                        <td align="left" valign="top">
                            <xsl:call-template name="entitybreadcrumb">
                                <xsl:with-param name="entityprefix" select="'c'" />
                            </xsl:call-template>
                        </td>
                    </tr>
                </xsl:for-each>
            </xsl:template>

            <xsl:template match="Section">
                <xsl:param name="SecID" select="SectionID" />
                <xsl:for-each select="/root/EntityHelpers/Section/descendant::Entity[EntityID=$SecID]">
                    <tr>
                        <td align="left" valign="top">
                            <xsl:call-template name="entitybreadcrumb">
                                <xsl:with-param name="entityprefix" select="'s'" />
                            </xsl:call-template>
                        </td>
                    </tr>
                </xsl:for-each>
            </xsl:template>

            <xsl:template match="Manufacturer">
                <xsl:param name="ManID" select="ManufacturerID" />
                <xsl:for-each select="/root/EntityHelpers/Manufacturer/descendant::Entity[EntityID=$ManID]">
                    <tr>
                        <td align="left" valign="top">
                            <xsl:call-template name="entitybreadcrumb">
                                <xsl:with-param name="entityprefix" select="'m'" />
                            </xsl:call-template>
                        </td>
                    </tr>
                </xsl:for-each>
            </xsl:template>


            <xsl:template name="entitybreadcrumb">
                <xsl:param name="entityprefix" />
                <xsl:for-each select="ancestor-or-self::*[child::SEName and ancestor::EntityHelpers]">
                    <xsl:variable name="pEName">
                        <xsl:choose>
                            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                                <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                            </xsl:when>
                            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting])!=0">
                                <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                            </xsl:when>
                            <xsl:when test="count(Name/ml)=0">
                                <xsl:value-of select="Name"/>
                            </xsl:when>
                        </xsl:choose>
                    </xsl:variable>
                    <a href="{concat($entityprefix, '-', EntityID, '-', SEName, '.aspx')}">
                        <xsl:value-of select="$pEName"/>
                    </a>&#0160;<xsl:if test="position()!=last()">-</xsl:if>&#0160;
                </xsl:for-each>
            </xsl:template>

        </xsl:stylesheet>



    </PackageTransform>
</package>


