<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Staff Page" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/page.default.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="StaffArticles" rowElementName="Article">
        <sql>
            <![CDATA[
                select StaffID, Name, Title, Bio, Phone, FAX, EMail, DisplayOrder, Wholesale, ExtensionData from Staff with (nolock)
                where Published=1 and Deleted=0 
                order by DisplayOrder, Name desc
            ]]>
        </sql>
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
	        <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

            <xsl:template match="/">
                    <table width="100%" cellpadding="2" cellspacing="0" border="0">
                        <xsl:apply-templates select="/root/StaffArticles/Article" />
                    </table>
                <table width="100%" cellpadding="2" cellspacing="0" border="0">
                </table>

            </xsl:template>

            <xsl:template match="Article">
                    <tr>
                        <td align="left" valign="top">
						<xsl:value-of select="aspdnsf:LookupImage(StaffID, 'staff', 'medium', 0)" disable-output-escaping="yes"/>
                        </td>
						<td align="left" valign="top">
						<b><xsl:value-of select="Name" disable-output-escaping="yes"/></b>
						<br/><br/>
						<xsl:value-of select="Bio" disable-output-escaping="yes"/>
						</td>
                    </tr>
					<tr><td colspan="2" height="5"><img src="images/spacer.gif" width="10" height="5"/></td></tr>
            </xsl:template>
            
        </xsl:stylesheet>
    </PackageTransform>
</package>
