<?xml version="1.0" standalone="yes" ?>
<package displayname="Order Confirmation Page" version="2.1" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/page.orderconfirmation.xml.config 1     12/30/05 2:33p Administrator $	-->
	<!--                                                                                                        -->
	<!-- Notes: expects runtime param of OrderNumber to be passed in by storefront code                         -->
	<!-- ###################################################################################################### -->

    <query name="Orders" rowElementName="Order">
        <sql>
            <![CDATA[
                select * from Orders with (NOLOCK) where OrderNumber=@OrderNumber
            ]]>
        </sql>
        <queryparam paramname="@OrderNumber" paramtype="runtime" requestparamname="OrderNumber" sqlDataType="int" defvalue="0"  validationpattern="" />
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" indent="no"  encoding="utf-8"/>

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="UseSSL"><xsl:value-of select="aspdnsf:AppConfigBool('UseSSL')" /></xsl:param>
            <xsl:param name="CacheMenus"><xsl:value-of select="aspdnsf:AppConfigBool('CacheMenus')" /></xsl:param>
            <xsl:param name="UseLiveTransactions"><xsl:value-of select="aspdnsf:AppConfigBool('UseLiveTransactions')" /></xsl:param>
            <xsl:param name="OrderNumber"><xsl:value-of select="/root/Runtime/OrderNumber" /></xsl:param>
            <xsl:param name="StoreURL"><xsl:value-of select="/root/Runtime/StoreUrl" /></xsl:param>

            <xsl:template match="/">

                <xsl:param name="PaymentMethod"><xsl:value-of select="/root/Orders/Order/PaymentMethod" /></xsl:param>
                <xsl:param name="CustomerID"><xsl:value-of select="/root/Orders/Order/CustomerID" /></xsl:param>
                <xsl:param name="PMCleaned"><xsl:value-of select="aspdnsf:CleanPaymentMethod($PaymentMethod)" /></xsl:param>
                <xsl:param name="ReceiptURL"><xsl:value-of select="$StoreURL" />receipt.aspx?ordernumber=<xsl:value-of select="$OrderNumber" /></xsl:param>

                <xsl:param name="IncludeGoogleTrackingCode"><xsl:value-of select="aspdnsf:AppConfig('IncludeGoogleTrackingCode')" /></xsl:param>
                <xsl:param name="IncludeOvertureTrackingCode"><xsl:value-of select="aspdnsf:AppConfig('IncludeOvertureTrackingCode')" /></xsl:param>

                <div align="center">

                    <br /><br />
                    <font class="ProductNameText">
                        <xsl:choose>
                            <xsl:when test="$PMCleaned='CREDITCARD'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.2',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes"/></b>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='ECHECK'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.2',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes"/></b>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='MICROPAY'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.4',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br /><br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.9',$LocaleSetting)" disable-output-escaping="yes"/>
		                        <xsl:value-of select="aspdnsf:MicroPayBalance()"/></b>
		                        <br /><br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes"/></b>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='PURCHASEORDER'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.5',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.10',$LocaleSetting)" disable-output-escaping="yes"/></b>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='CODMONEYORDER'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.20',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.10',$LocaleSetting)" disable-output-escaping="yes"/></b>
		                        <br/><br/>
		                        <span class="CheckInstructions"><xsl:value-of select="aspdnsf:Topic('CODMONEYORDERINSTRUCTIONS')" disable-output-escaping="yes"/></span>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='CODCOMPANYCHECK'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.21',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.10',$LocaleSetting)" disable-output-escaping="yes"/></b>
		                        <br/><br/>
		                        <span class="CheckInstructions"><xsl:value-of select="aspdnsf:Topic('CODCOMPANYCHECKINSTRUCTIONS')" disable-output-escaping="yes"/></span>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='CODNET30'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.22',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.10',$LocaleSetting)" disable-output-escaping="yes"/></b>
		                        <br/><br/>
		                        <span class="CheckInstructions"><xsl:value-of select="aspdnsf:Topic('CODNET30INSTRUCTIONS')" disable-output-escaping="yes"/></span>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='PAYPAL'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.6',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes"/></b>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='PAYPALEXPRESS'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.6',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes"/></b>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='REQUESTQUOTE'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.7',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.11',$LocaleSetting)" disable-output-escaping="yes"/></b>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='CHECKBYMAIL'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.8',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes"/></b>
		                        <br/><br/>
		                        <span class="CheckInstructions"><xsl:value-of select="aspdnsf:Topic('CHECKINSTRUCTIONS')" disable-output-escaping="yes"/></span>
                            </xsl:when>
                            <xsl:when test="$PMCleaned='COD'">
		                        <span style="font-size: 16px; font-weight: bold;"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.23',$LocaleSetting)" disable-output-escaping="yes"/></span>
		                        <br />
		                        <br />
		                        <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes"/></b>
		                        <br/><br/>
		                        <span class="CheckInstructions"><xsl:value-of select="aspdnsf:Topic('CODINSTRUCTIONS')" disable-output-escaping="yes"/></span>
                            </xsl:when>
                        </xsl:choose>
                    </font>
                    <br /><br />
                    <b><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.12',$LocaleSetting)" disable-output-escaping="yes"/></b><br /><br />
                    <xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.13',$LocaleSetting)" disable-output-escaping="yes"/><img src="images/spacer.gif" width="5" height="1"/><xsl:value-of select="$OrderNumber" />
                    <br />
                    <xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.14',$LocaleSetting)" disable-output-escaping="yes"/><img src="images/spacer.gif" width="5" height="1"/><xsl:value-of select="$CustomerID" />
                    <br /><br />
                    <xsl:choose>
                        <xsl:when test="$PMCleaned='CREDITCARD' and /root/Orders/Order/Email!=''">
                            <xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.15',$LocaleSetting)" disable-output-escaping="yes"/><img src="images/spacer.gif" width="5" height="1"/><xsl:value-of select="/root/Orders/Order/Email"/>.
                        </xsl:when>
                    </xsl:choose>
                    <xsl:if test="aspdnsf:AppConfigBool('ForceSignoutOnOrderCompletion') = 'false' and /root/System/CustomerIsRegistered='true'">
                        <br /><br /><br />
                        <xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.16',$LocaleSetting)" disable-output-escaping="yes"/>
                        <img src="images/spacer.gif" width="5" height="1"/>
                        <a target="_blank" href="{$ReceiptURL}">
                            <xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.17',$LocaleSetting)" disable-output-escaping="yes"/>
                        </a>
                    </xsl:if>
                </div>
              <!-- Google Code for purchase Conversion Page -->
              <script language="JavaScript" type="text/javascript">
                <!--
var google_conversion_id = 1061579435;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "666666";
if (1) {
  var google_conversion_value = 1;
}
var google_conversion_label = "purchase";
//-->
              </script>
              <script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
              </script>
              <noscript>
                <img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1061579435/imp.gif?value=1&amp;label=purchase&amp;script=0"/>
                </noscript>


            </xsl:template>
        </xsl:stylesheet>    
    </PackageTransform>

	<SearchEngineSettings>
		<SectionTitle actionType="transform">
            <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf">
              <xsl:output method="html" omit-xml-declaration="yes" />
    	        <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
	            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
	            <xsl:param name="Prompt"><xsl:value-of select="aspdnsf:StringResource('orderconfirmation.aspx.1', $LocaleSetting)" /></xsl:param>
              <xsl:template match="/">
	               <xsl:value-of select="$Prompt" />
              </xsl:template>
            </xsl:stylesheet>
		</SectionTitle>
	</SearchEngineSettings>

</package>
