<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Partners" version="2.1" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/product.SimpleVariantFormat.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="Partners" rowElementName="Partner">
        <sql>
            <![CDATA[
                select PartnerID, Name, Summary, Address1, Address2, Suite, City, State, ZipCode, Country, 
                        Phone, FAX, rtrim(URL) URL, Email, LinkToSite, LinkInNewWindow, Specialty, Instructors, Schedule, 
                        Testimonials, Wholesale
                from Partner with (nolock) 
                where Deleted=0 and Published=1 
                order by DisplayOrder,Name
            ]]>
        </sql>
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />


            <xsl:template match="/">
                <p>
                    <xsl:apply-templates select="/root/Partners/Partner" />
                </p>
                <xsl:if test="/root/QueryString/partnerid">
                    <xsl:for-each select="/root/Partners/Partner[PartnerID=/root/QueryString/partnerid]">
                        <xsl:call-template name="PartnerProfile" />
                    </xsl:for-each>
                </xsl:if>
            </xsl:template>



            <xsl:template match="Partner">
                <xsl:param name="pName">
                    <xsl:choose>
                        <xsl:when test="count(ProductName/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="ProductName/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(ProductName/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="ProductName/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(ProductName/ml)=0">
                            <xsl:value-of select="ProductName"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>

                <a href="{concat('partners.aspx?partnerid=', PartnerID)}"><img src="{aspdnsf:ImageUrl(PartnerID, 'Partner', 'icon', 0)}" alt="{$pName}" border="0" /></a>&#0160;
            </xsl:template>

            <xsl:template name="PartnerProfile">
                <xsl:param name="pName">
                    <xsl:choose>
                        <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Name/ml)=0">
                            <xsl:value-of select="Name"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>

                <xsl:param name="pSummary">
                    <xsl:choose>
                        <xsl:when test="count(Summary/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Summary/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Summary/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="Summary/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Summary/ml)=0">
                            <xsl:value-of select="Summary"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>
                <xsl:param name="pSpecialty">
                    <xsl:choose>
                        <xsl:when test="count(Specialty/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Specialty/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Specialty/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="Specialty/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Specialty/ml)=0">
                            <xsl:value-of select="Specialty"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>

                <xsl:param name="pInstructors">
                    <xsl:choose>
                        <xsl:when test="count(Instructors/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Instructors/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Instructors/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="Instructors/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Instructors/ml)=0">
                            <xsl:value-of select="Instructors"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>

                <xsl:param name="pSchedule">
                    <xsl:choose>
                        <xsl:when test="count(Schedule/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Schedule/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Schedule/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="Schedule/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Schedule/ml)=0">
                            <xsl:value-of select="Schedule"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>

                <xsl:param name="pTestimonials">
                    <xsl:choose>
                        <xsl:when test="count(Testimonials/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="Testimonials/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Testimonials/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="Testimonials/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(Testimonials/ml)=0">
                            <xsl:value-of select="Testimonials"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>


                <table border="0" cellpadding="2" cellspacing="0" align="center" width="99%">
                <tr>
                    <td width="100%" bgcolor="#C0C0C0">
                        <xsl:choose>
                        	<xsl:when test="URL!='' and LinkToSite=1"><b><a href="{URL}"><xsl:if test="LinkInNewWindow=1"><xsl:attribute name="target">_blank</xsl:attribute></xsl:if><xsl:value-of select="$pName" disable-output-escaping="yes"/></a></b></xsl:when>
                        	<xsl:otherwise><xsl:value-of select="$pName" disable-output-escaping="yes"/></xsl:otherwise>
                        </xsl:choose>
                    </td>
                </tr>
                </table>
                <table border="0" cellpadding="8" cellspacing="0" align="center" width="99%" style="border-style: inset; border-width: 1px;">
                    <tr>
                        <td width="130" valign="top" align="right"><xsl:value-of select="aspdnsf:StringResource('partners.aspx.2')" disable-output-escaping="yes" /></td>

                        <td valign="top" align="left"><xsl:value-of select="$pSummary" disable-output-escaping="yes"/></td>
                    </tr>
                    <tr>
                        <td width="130" valign="top" align="right"><xsl:value-of select="aspdnsf:StringResource('partners.aspx.3')" disable-output-escaping="yes" /></td>
                        <td valign="top" align="left"><xsl:value-of select="$pSpecialty" disable-output-escaping="yes"/></td>
                    </tr>

                    <tr>
                        <td width="130" valign="top" align="right"><xsl:value-of select="aspdnsf:StringResource('partners.aspx.4')" disable-output-escaping="yes" /></td>
                        <td valign="top" align="left"><xsl:value-of select="$pInstructors" disable-output-escaping="yes"/></td>
                    </tr>
                    <tr>
                        <td width="130" valign="top" align="right"><xsl:value-of select="aspdnsf:StringResource('partners.aspx.5')" disable-output-escaping="yes" /></td>
                        <td valign="top" align="left"><xsl:value-of select="$pSchedule" disable-output-escaping="yes"/></td>
                    </tr>
                    <xsl:if test="LinkToSite=1">
                    <tr>
                        <td width="130" valign="top" align="right"><xsl:value-of select="aspdnsf:StringResource('partners.aspx.6')" disable-output-escaping="yes" /></td>
                        <td valign="top" align="left">
                            <xsl:choose>
                                <xsl:when test="URL!='' and LinkToSite=1"><b><a href="{URL}"><xsl:if test="LinkInNewWindow=1"><xsl:attribute name="target">_blank</xsl:attribute></xsl:if><xsl:value-of select="URL" disable-output-escaping="yes"/></a></b></xsl:when>
                                <xsl:otherwise><xsl:value-of select="URL" disable-output-escaping="yes"/></xsl:otherwise>
                            </xsl:choose>
                        </td>
                    </tr>
                    </xsl:if>
                    <tr>
                        <td width="130" valign="top" align="right"><xsl:value-of select="aspdnsf:StringResource('partners.aspx.7')" disable-output-escaping="yes" /></td>
                        <td valign="top" align="left"><xsl:value-of select="$pTestimonials" disable-output-escaping="yes"/></td>
                    </tr>
                </table>
            </xsl:template>
            
        </xsl:stylesheet>
    </PackageTransform>
</package>
