<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Default Home Page" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/page.default.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="FeaturedProductCount" rowElementName="row">
        <sql>
            <![CDATA[
                select count(*) as N 
                from ProductCategory with (NOLOCK) join Product with (NOLOCK) on ProductCategory.ProductID = Product.ProductID 
                where ProductCategory.CategoryID=@FeaturedCategoryID and Product.Deleted=0
            ]]>
        </sql>
        <queryparam paramname="@FeaturedCategoryID" paramtype="appconfig" requestparamname="isFeaturedCategoryID" sqlDataType="int" defvalue="0"  validationpattern="" />
    </query>

    <query name="NewsCount" rowElementName="row">
        <sql>
            <![CDATA[
                select count(*) as N from News with (NOLOCK) where ExpiresOn>=getdate() and Deleted=0 and Published=1
            ]]>
        </sql>
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
	        <xsl:output method="html" omit-xml-declaration="yes" />
            <xsl:param name="NumHomePageSpecials" select="aspdnsf:AppConfig('NumHomePageSpecials')"/>
            <xsl:param name="FeaturedCategoryID" select="aspdnsf:AppConfig('IsFeaturedCategoryID')" />
            <xsl:param name="DoNotShowNewsOnHomePage" select="aspdnsf:AppConfigBool('DoNotShowNewsOnHomePage')" />
            <xsl:template match="/">
                <xsl:value-of select="aspdnsf:Topic('HomeTopIntro')" disable-output-escaping="yes"/>
                <xsl:choose>
                    <xsl:when test="$FeaturedCategoryID!=0 and /root/FeaturedProductCount/row/N!=0">
                        <xsl:choose>
                            <xsl:when test="$NumHomePageSpecials=1">
                                <br />
                                <xsl:value-of select="aspdnsf:GetSpecialsBoxExpandedRandom($FeaturedCategoryID, 1, 1, aspdnsf:StringResource('default.aspx.2'))" disable-output-escaping="yes" />
                            </xsl:when>
                            <xsl:otherwise>
                                <br />
                                <xsl:value-of select="aspdnsf:GetSpecialsBoxExpanded($FeaturedCategoryID, $NumHomePageSpecials, 1, 1, aspdnsf:StringResource('default.aspx.2'))" disable-output-escaping="yes" />
                            </xsl:otherwise>
                        </xsl:choose>
                    </xsl:when>
                </xsl:choose>
                <xsl:choose>
                    <xsl:when test="/root/NewsCount/row/N!=0 and $DoNotShowNewsOnHomePage='false'">
                        <br />
                            <xsl:value-of select="aspdnsf:GetNewsBoxExpanded(0, 3, '1', aspdnsf:StringResource('default.aspx.3'))" disable-output-escaping="yes" />
                    </xsl:when>
                </xsl:choose>
            </xsl:template>

        </xsl:stylesheet>
    </PackageTransform>
</package> 
