<?xml version="1.0" encoding="UTF-8" ?>
<package version="2.1" displayname="Prodcut Browser" debug="false">

    <!-- ###################################################################################################### -->
    <!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
    <!-- http://www.aspdotnetstorefront.com														                -->
    <!-- For details on this license please visit  the product homepage at the URL above.		                -->
    <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
    <!-- $Header: /v6.1/Web/XmlPackages/product.VariantsInRightBar.xml.config 1     12/30/05 2:33p Administrator $	        -->
    <!--                                                                                                        -->
    <!-- ###################################################################################################### -->


    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                SELECT p.*, 
                       pv.VariantID, pv.name VariantName, pv.Price, isnull(pv.SalePrice, 0) SalePrice, isnull(SkuSuffix, '') SkuSuffix, pv.Dimensions, pv.Weight, isnull(pv.Points, 0) Points, isnull(pv.description, '') VariantDescription,
                       sp.name SalesPromptName, 
                       isnull(e.Price, 0) ExtendedPrice
                FROM Product p 
                    join productvariant pv on p.ProductID = pv.ProductID  
                    join SalesPrompt sp on p.SalesPromptID = sp.SalesPromptID 
                    left join ExtendedPrice e on pv.VariantID=e.VariantID and e.CustomerLevelID=@CustomerLevelID
                WHERE p.ProductID = @ProductID 
                    and p.Deleted = 0 
                    and pv.Deleted = 0 
                    and p.Published = 1 
                    and pv.Published = 1
                ORDER BY p.ProductID, pv.DisplayOrder, pv.Name
            ]]>
        </sql>
        <queryparam paramname="@CustomerLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@ProductID" paramtype="request" requestparamname="ProductID" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
    </query>

    <PackageTransform>

        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />

            <xsl:param name="SecID">
                <xsl:choose>
                    <xsl:when test="/root/QueryString/entityname = 'SECTION'">
                        <xsl:value-of select="/root/QueryString/entityid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>

            <xsl:param name="CatID">
                <xsl:choose>
                    <xsl:when test="/root/QueryString/entityname = 'CATEGORY'">
                        <xsl:value-of select="/root/QueryString/entityid" />
                    </xsl:when>
                    <xsl:when test="/root/QueryString/entityname = ''">
                        <xsl:value-of select="/root/EntityHelpers/*[name()='Category']/Entity[1]/EntityID" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>



            <xsl:template match="/">
                <xsl:comment>Copyright 1995-2007 AspDotNetStorefront.com</xsl:comment>
                <xsl:for-each select="/root/Products/Product[1]">
                    <xsl:call-template name="MultiVariant"/>
                </xsl:for-each>

                <xsl:value-of select="aspdnsf:GetJSPopupRoutines()" disable-output-escaping="yes" />
                <script type="text/javascript" language="JavaScript">
                    function SendAddToCustomForm(theForm)
                    {
                            top.location=&apos;dyop_addtocart.aspx?type=<xsl:value-of select="/root/QueryString/type" />&amp;packid=<xsl:value-of select="/root/QueryString/packid" />&amp;entityid=<xsl:value-of select="/root/QueryString/entityid" />&amp;entityname=<xsl:value-of select="/root/QueryString/entityname" />&amp;productid=&apos; + theForm.ProductID.value + &apos;&amp;variantid=&apos; + theForm.VariantID.value + &apos;&amp;quantity=&apos; + theForm.Quantity.value + &apos;&amp;color=&apos; + theForm.Color.value + &apos;&amp;size=&apos; + theForm.Size.value + &apos;&amp;cartrecid=<xsl:value-of select="/root/QueryString/cartrecid" />&apos;;
                    }
                </script>

            </xsl:template>


            <!-- this could obviously be expanded to properly handle multi-variant products -->
            <xsl:template name="MultiVariant">
                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
                <xsl:param name="pDescription" select="aspdnsf:GetMLValue(Summary)"></xsl:param>


                <table border="0" width="100%" cellpadding="4" cellspacing="0">
                    <tr>
                        <td align="left" valign="top">
                            <xsl:value-of select="aspdnsf:LookupImage(ProductID, 'product', 'medium', 1)" disable-output-escaping="yes"/>
                        </td>
                        <td align="left" valign="top" width="100%">
                            <div>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="100%" align="left" valign="middle">
                                            <span class="ProductNameText">
                                                <xsl:value-of select="$pName" disable-output-escaping="yes" />
                                            </span>
                                            <xsl:value-of select="aspdnsf:EmailProductToFriend(ProductID, $CatID)" disable-output-escaping="yes" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <xsl:if test="number(aspdnsf:GetProductDiscountID(ProductID)) &gt; 0">
                                    <xsl:value-of select="aspdnsf:ReadFile('jscripts/tip2.js')" disable-output-escaping="yes" />
                                    <br/>
                                    <small>
                                        <xsl:value-of select="aspdnsf:ShowQuantityDiscountTable(ProductID)" disable-output-escaping="yes" />
                                        <xsl:value-of select="aspdnsf:StringResource('pb.aspx.6')" disable-output-escaping="yes" />
                                    </small>
                                 </xsl:if>
                                <xsl:value-of select="$pDescription" disable-output-escaping="yes" /><br/><xsl:value-of select="aspdnsf:ProductDescriptionFile(ProductID, 0)" disable-output-escaping="yes" />
                            </div>
                            <div>
                                <br />
                            </div>
                            <!-- list variants now -->
                            <xsl:for-each select="/root/Products/Product">
                                <xsl:call-template name="Variant"/>
                            </xsl:for-each>
                        </td>
                    </tr>
                </table>

            </xsl:template>

            
            
            <xsl:template name="Variant">
                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
                <xsl:param name="vName" select="aspdnsf:GetMLValue(VariantName)"></xsl:param>
                <xsl:param name="vDescription" select="aspdnsf:GetMLValue(VariantDescription)"></xsl:param>

                <table>
                    <tr>
                        <td align="left"><xsl:value-of select="aspdnsf:StringResource('pb.aspx.7')" disable-output-escaping="yes" /></td>
                        <td align="left">
                            <xsl:value-of select="SKU"/>
                            <xsl:value-of select="SkuSuffix"/>
                        </td>
                    </tr>
                    <xsl:if test="$vDescription!=''">
                    <tr>
                        <td align="left"><xsl:value-of select="aspdnsf:StringResource('pb.aspx.8')" disable-output-escaping="yes" /> </td>
                        <td align="left"><xsl:value-of select="$vDescription" disable-output-escaping="yes" /></td>
                    </tr>
                    </xsl:if>
                    <xsl:if test="TrackInventoryBySizeAndColor=1">
                    <tr>
                        <td colspan="2" align="left"><xsl:value-of select="aspdnsf:ShowInventoryTable(ProductID, VariantID)" disable-output-escaping="yes" /></td>
                    </tr>
                    </xsl:if>
                </table>
                <div>
                    <xsl:choose>
                    	<xsl:when test="/root/QueryString/isfull = 'true'">
                            <br/>
                            <span class="PBCartFull"><xsl:value-of select="aspdnsf:StringResource('pb.aspx.9')" disable-output-escaping="yes" /></span>
                        </xsl:when>
                    	<xsl:otherwise>
                            <xsl:value-of select="aspdnsf:AddtoCartForm(ProductID, VariantID, 0, 0, 0, 1)" disable-output-escaping="yes"/>
                        </xsl:otherwise>
                    </xsl:choose>
                </div><br/>

            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package>
