<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Variants in Table Expanded" version="2.1" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/product.VariantsInTableExpanded.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->


    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                SELECT p.*, sp.name SalesPromptName 
                FROM PRODUCT p join SalesPrompt sp on p.SalesPromptID = sp.SalesPromptID 
                where p.ProductID = @ProductID and p.Published = 1 and p.Deleted = 0
            ]]>
        </sql>
        <queryparam paramname="@ProductID" paramtype="request" requestparamname="ProductID" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
    </query>
    <query name="Variants" rowElementName="Variant">
        <sql>
            <![CDATA[
                SELECT pv.VariantID, pv.ProductID, pv.Description VariantDescription, pv.name VariantName, pv.skusuffix, pv.Price, 
                       isnull(pv.saleprice, 0) SalePrice, isnull(pv.colors, '') Colors, pv.ImageFilenameOverride, 
                       isnull(pv.sizes, '')  Sizes, pv.Dimensions, pv.Weight, isnull(pv.Points, 0) Points, 
                       case when pcl.productid is null then 0 else isnull(e.Price, 0) end ExtendedPrice,
                       p.TaxClassID
                FROM ProductVariant pv
                    join dbo.product p on pv.ProductID = p.ProductID
                    left join ExtendedPrice e on pv.VariantID=e.VariantID and e.CustomerLevelID=@CustomerLevelID
                    left join ProductCustomerLevel pcl with (NOLOCK) on p.ProductID = pcl.ProductID and pcl.CustomerLevelID = @CustomerLevelID
                WHERE pv.ProductID = @ProductID and pv.Published = 1 and pv.Deleted = 0
                ORDER BY pv.DisplayOrder, pv.Name
            ]]>
        </sql>
        <queryparam paramname="@CustomerLevelID" paramtype="system"  requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@ProductID"       paramtype="request" requestparamname="ProductID"       sqlDataType="int" defvalue="0"  validationpattern="^\d{1,10}$" />
    </query>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="ShowFullNameInRightBar"><xsl:value-of select="aspdnsf:AppConfig('ShowFullNameInRightBar')"/></xsl:param>
            <xsl:param name="ShowInventoryTable"><xsl:value-of select="aspdnsf:AppConfig('ShowInventoryTable')"/></xsl:param>


            <xsl:param name="SecID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/sectionid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/sectionid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>

            <xsl:param name="CatID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/categoryid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>

            <xsl:param name="ManID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/manufacturerid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/manufacturerid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>

            
            <xsl:template match="/">
                <xsl:apply-templates select="/root/Products/Product"></xsl:apply-templates>
            </xsl:template>





            <xsl:template match="Product">
                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
                <xsl:param name="pDescription" select="aspdnsf:GetMLValue(Description)"></xsl:param>


                <table border="0" cellpadding="0" cellspacing="4" width="100%">
                    <tr>
                        <td align="center" valign="top" width="40%">
                            <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFilenameOverride, SKU, 'medium', 1)" disable-output-escaping="yes"/>
                        </td>
                        <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="right">
                                        <xsl:value-of select="aspdnsf:ProductNavLinks(ProductID, /root/Runtime/EntityID, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" width="40%">
                                        <div  class="ProductNameText">
                                            <xsl:value-of select="aspdnsf:Decode($pName)" disable-output-escaping="yes"/>
                                        </div>
                                        <xsl:value-of select="aspdnsf:ProductSpecsLink(ProductID, SpecsInline, SpecTitle, SKU, SpecCall)" disable-output-escaping="yes" />
                                        <br/>
                                        <xsl:value-of select="aspdnsf:EmailProductToFriend(ProductID, $CatID)" disable-output-escaping="yes"/>
                                        <div align="left">
                                            <xsl:value-of select="aspdnsf:Decode($pDescription)" disable-output-escaping="yes"/>
                                        </div>
                                        <xsl:value-of select="aspdnsf:ShowQuantityDiscountTable(ProductID)" disable-output-escaping="yes" />
                                        <xsl:if test="TrackInventoryBySizeAndColor=1">
                                        <xsl:value-of select="aspdnsf:ShowInventoryTable(ProductID)" disable-output-escaping="yes" />
                                        </xsl:if>
                                    </td>
                                </tr>
                                <tr valign="top"><td height="10"></td></tr>

                            </table>
                        </td>
                    </tr>
                    <tr valign="top"><td colspan="2" height="20"><hr size="1" color="#666666"/></td></tr>
                    <tr>
                        <td colspan="2">
                            <xsl:apply-templates select="/root/Variants/Variant" ></xsl:apply-templates>
                        </td>
                    </tr>
                </table>

                <table border="0" cellpadding="2" cellspacing="1" width="100%">
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="aspdnsf:RelatedProducts(ProductID)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="aspdnsf:ShowUpsellProducts(ProductID)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <xsl:value-of select="aspdnsf:ProductSpecs(ProductID, 1, SpecsInline, SpecCall, 400)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <xsl:value-of select="aspdnsf:ProductRatings(ProductID, 0, 0, 0, 1)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                </table>

            </xsl:template>







            <xsl:template match="Variant">
                <xsl:param name="pName" select="aspdnsf:GetMLValue(/root/Products/Product/Name)"></xsl:param>
                <xsl:param name="pSKU" select="/root/Products/Product/SKU"></xsl:param>
                <xsl:param name="HidePriceUntilCart" select="/root/Products/Product/HidePriceUntilCart"></xsl:param>
                <xsl:param name="vName" select="aspdnsf:GetMLValue(VariantName)"></xsl:param>
                <xsl:param name="vDescription" select="aspdnsf:GetMLValue(VariantDescription)"></xsl:param>
                <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(/root/Products/Product/SalesPromptName)"></xsl:param>


                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" >
                    <tr>
                        <td colspan="4" align="left" valign="middle" height="20" class="DarkCell">
                            <img src="{aspdnsf:LocateImageURL(skins/skin_1/images/whitearrow.gif, /root/System/LocaleSetting)}" align="absmiddle" />&#0160;
                            <font style="font-size: 15px; font-weight:bold; color:white;">
                                <xsl:choose>
                                    <xsl:when test="$ShowFullNameInRightBar='true'">
                                        <xsl:value-of select="aspdnsf:Decode($pName)" disable-output-escaping="yes"/>
                                        <xsl:if test="$vName!=''">
                                            -<br/><xsl:value-of select="aspdnsf:Decode($vName)" disable-output-escaping="yes" />
                                        </xsl:if>
                                    </xsl:when>
                                    <xsl:otherwise>
                                        <xsl:choose>
                                            <xsl:when test="$vName=''">
                                                <xsl:value-of select="aspdnsf:Decode($pName)" disable-output-escaping="yes"/>
                                            </xsl:when>
                                            <xsl:otherwise>
                                                <xsl:value-of select="aspdnsf:Decode($vName)" disable-output-escaping="yes"/>
                                            </xsl:otherwise>
                                        </xsl:choose>
                                    </xsl:otherwise>
                                </xsl:choose>
                            </font>
                        </td>
                    </tr>

                    <tr>
                        <td width="2%" class="GreyCell">
                            <img src="images/spacer.gif" width="5" height="1" />
                        </td>
                        <td width="30%" align="center" valign="top" class="GreyCell">
                            <xsl:value-of select="aspdnsf:LookupVariantImage(ProductID, VariantID, ImageFilenameOverride, $pSKU, 'medium', 0)" disable-output-escaping="yes" />
                        </td>
                        <td width="8%" class="GreyCell">
                            <img src="/images/spacer.gif" width="10" height="1" />
                        </td>
                        <td width="60%" valign="top" align="left" class="GreyCell">
                            <table cellpadding="3" cellspacing="0" border="0" class="GreyCell">
                                <tr>
                                    <td width="10%" align="left" valign="top">
                                        <xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.21', $LocaleSetting)" disable-output-escaping="yes" />
                                    </td>
                                    <td align="left" valign="top"><xsl:value-of select="concat($pSKU, skusuffix)" /></td>
                                </tr>
                                <xsl:if test="$vDescription!=''">
                                <tr>
                                    <td align="left" valign="top"><xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.22', $LocaleSetting)" disable-output-escaping="yes" /></td>
                                    <td align="left" valign="top"><xsl:value-of select="$vDescription" disable-output-escaping="yes" /></td>
                                </tr>
                                </xsl:if>
                                <xsl:if test="Dimensions!=''">
                                <tr>
                                    <td align="left" valign="top"><xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.23', $LocaleSetting)" disable-output-escaping="yes" /></td>
                                    <td align="left" valign="top"><xsl:value-of select="Dimensions" /></td>
                                </tr>
                                </xsl:if>
                                <xsl:if test="Weight!=''">
                                <tr>
                                    <td align="left" valign="top"><xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.24', $LocaleSetting)" disable-output-escaping="yes" /></td>
                                    <td align="left" valign="top"><xsl:value-of select="aspdnsf:FormatDecimal(Weight, 2)" /></td>
                                </tr>
                                </xsl:if>
                                <xsl:if test="$HidePriceUntilCart = '0'">
                                <tr>
                                    <td colspan="2">
												<span>
													<xsl:attribute name="id">VariantPrice_<xsl:value-of select="VariantID"/></xsl:attribute>
                                        <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
										</span>
                                    </td>
                                </tr>
                                </xsl:if>
                                <xsl:if test="$ShowInventoryTable='true'">
                                <tr>
                                    <td colspan="2" align="left" valign="top"><xsl:value-of select="aspdnsf:ShowInventoryTable(ProductID, VariantID)" disable-output-escaping="yes" /></td>
                                </tr>
                                </xsl:if>
                                <tr>
                                    <td width="100%" align="left" colspan="2" valign="top">
                                        <xsl:value-of select="aspdnsf:ShowQuantityDiscountTable(ProductID)" disable-output-escaping="yes"/><br/>
                                        <xsl:value-of select="aspdnsf:AddtoCartForm(ProductID, VariantID, 0, 'left')" disable-output-escaping="yes" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                
            </xsl:template>
            

            

        </xsl:stylesheet>
    </PackageTransform>
</package>
