<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Simple Variant Format 2" version="2.1" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/product.simplevariantformat2.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                exec aspdnsf_ProductInfo @ProductID, @CustomerLevelID, 1
            ]]>
        </sql>
        <queryparam paramname="@ProductID"       paramtype="request" requestparamname="ProductID"       sqlDataType="int" defvalue="0"  validationpattern="^\d{1,10}$" />
        <queryparam paramname="@CustomerLevelID" paramtype="system"  requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

            <xsl:param name="SecID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/sectionid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/sectionid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>


            <xsl:param name="CatID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/categoryid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>


            <xsl:param name="ManID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/manufacturerid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/manufacturerid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>

            <xsl:param name="ShowFullNameInRightBar"><xsl:value-of select="aspdnsf:AppConfig('ShowFullNameInRightBar')" disable-output-escaping="yes" /></xsl:param>
            <xsl:param name="WholesaleOnlySite"><xsl:value-of select="aspdnsf:AppConfig('WholesaleOnlySite')"/></xsl:param>


            <xsl:template match="/">
                <xsl:apply-templates select="/root/Products/Product"></xsl:apply-templates>
            </xsl:template>


            <xsl:template match="Product">
                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
                <xsl:param name="pDescription" select="aspdnsf:GetMLValue(Description)"></xsl:param>
                <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)"></xsl:param>
                <xsl:param name="vName" select="aspdnsf:GetMLValue(VariantName)"></xsl:param>

                <table border="0" cellpadding="0" cellspacing="4" width="100%">
                    <tr>
                        <td align="center" valign="top" width="40%">
                            <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFilenameOverride, SKU, 'medium', 1)" disable-output-escaping="yes"/>
                        </td>
                        <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td valign="top" align="right">
                                        <xsl:value-of select="aspdnsf:ProductNavLinks(ProductID, /root/Runtime/EntityID, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" width="40%">
                                        <div class="ProductNameText">
                                            <xsl:value-of select="aspdnsf:Decode($pName)" disable-output-escaping="yes"/>&#0160;<xsl:value-of select="aspdnsf:Decode($vName)" disable-output-escaping="yes"/>
                                        </div>
                                        <xsl:value-of select="aspdnsf:ProductSpecsLink(ProductID, SpecsInline, SpecTitle, SKU, SpecCall)" disable-output-escaping="yes" />
                                        <span class="ProductSKUText">
                                            <xsl:value-of select="SKU" />
                                        </span>
                                        <br/>
                                        <xsl:value-of select="aspdnsf:EmailProductToFriend(ProductID, $CatID)" disable-output-escaping="yes"/>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td>
                                        <div align="left">
                                            <xsl:value-of select="aspdnsf:Decode($pDescription)" disable-output-escaping="yes"/>
                                        </div>
                                        <xsl:value-of select="aspdnsf:ShowInventoryTable(ProductID)" disable-output-escaping="yes" />
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td height="10"></td>
                                </tr>
                                <tr valign="top">
                                    <td>
												<span>
													<xsl:attribute name="id">VariantPrice_<xsl:value-of select="VariantID"/></xsl:attribute>
                                        <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
										</span>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td colspan="2" height="20"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <xsl:value-of select="aspdnsf:ShowQuantityDiscountTable(ProductID)" disable-output-escaping="yes"/>
                                        <br/>
                                        <xsl:value-of select="aspdnsf:AddtoCartForm(ProductID, VariantID, 0, 'left')" disable-output-escaping="yes" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="aspdnsf:RelatedProducts(ProductID)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="aspdnsf:ShowUpsellProducts(ProductID)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="aspdnsf:ProductSpecs(ProductID, 1, SpecsInline, SpecCall, 400)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="aspdnsf:ProductRatings(ProductID, 0, 0, 0, 1)" disable-output-escaping="yes"/>
                        </td>
                    </tr>
                </table>


            </xsl:template>


        </xsl:stylesheet>
    </PackageTransform>
</package>
