<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="MarketWorks ERP Format 3 (all variants in table)" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- $Header: /v6.1/Web/XmlPackages/product.marketworks.xml.config 1     12/30/05 2:33p Administrator $	        -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                exec aspdnsf_ProductInfo @ProductID, @CustomerLevelID, 1
            ]]>
        </sql>
        <queryparam paramname="@ProductID" paramtype="request" requestparamname="ProductID" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
        <queryparam paramname="@CustomerLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
        <queryparam paramname="@thisLocale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue=""  validationpattern="" />
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
            <xsl:param name="SecID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/sectionid) &gt; 0"><xsl:value-of select="/root/QueryString/sectionid" /></xsl:when>
                	<xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>
            
            
            <xsl:param name="CatID">
                <xsl:choose>
                	<xsl:when test="count(/root/QueryString/categoryid) &gt; 0"><xsl:value-of select="/root/QueryString/categoryid" /></xsl:when>
                	<xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>

            <xsl:template match="/">
                <xsl:comment>Copyright 1995-2007 AspDotNetStorefront.com</xsl:comment>
                <xsl:apply-templates select="/root/Products/Product" />
            </xsl:template>


            <xsl:template match="Product">

                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
                <xsl:param name="pDescription" select="aspdnsf:GetMLValue(Description)"></xsl:param>
                <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)"></xsl:param>

                <xsl:choose>
                    <xsl:when test="IsAKit=1">
                        <table border="0" width="100%" cellpadding="4" cellspacing="0">
                            <tr>
                                <td align="left" valign="top">
                                    <xsl:value-of select="aspdnsf:LookupImage(ProductID, 'product', 'medium', 1)" disable-output-escaping="yes"/>
                                </td>
                                <td align="left" valign="top" width="100%">
                                    <div>
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="100%" align="left" valign="middle">
                                                    <span class="ProductNameText"><xsl:value-of select="$pName" disable-output-escaping="yes" /></span>
                                                </td>
                                                <td align="right" valign="Middle">
                                                    <nobr>
                                                        <xsl:value-of select="aspdnsf:ProductNavLinks(ProductID, /root/Runtime/EntityID, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                                                    </nobr>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div><br /></div>
                                    <div><b><font color="red">Display of Kit Products is not supported by this XmlPackage.<br /><br />XmlPackage=<xsl:value-of select="$XmlPackageName" /></font></b></div>
                                </td>
                            </tr>
                        </table>
                    </xsl:when>
                    <xsl:when test="IsAPack=1">
                        <table border="0" width="100%" cellpadding="4" cellspacing="0">
                            <tr><td align="left" valign="top">
                                    <xsl:value-of select="aspdnsf:LookupImage(ProductID, 'product', 'medium', 1)" disable-output-escaping="yes"/>
                                </td>
                                <td align="left" valign="top" width="100%">
                                    <div>
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="100%" align="left" valign="middle">
                                                    <span class="ProductNameText"><xsl:value-of select="$pName" disable-output-escaping="yes" /></span>
                                                </td>
                                                <td align="right" valign="Middle">
                                                    <nobr>
                                                        <xsl:value-of select="aspdnsf:ProductNavLinks(ProductID, /root/Runtime/EntityID, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                                                    </nobr>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div><br /></div>
                                    <div><b><font color="red">Display of Pack Products is not supported by this XmlPackage.<br /><br />XmlPackage=<xsl:value-of select="$XmlPackageName" /></font></b></div>
                                </td>
                            </tr>
                        </table>
                    </xsl:when>
                    <xsl:otherwise>
                        <table border="0" width="100%" cellpadding="4" cellspacing="0">
                            <tr><td align="left" valign="top">
                                    <xsl:value-of select="aspdnsf:LookupImage(ProductID, 'product', 'medium', 1)" disable-output-escaping="yes"/>
                                </td>
                                <td align="left" valign="top" width="100%">
                                    <div>
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="100%" align="left" valign="middle">
                                                    <span class="ProductNameText"><xsl:value-of select="$pName" disable-output-escaping="yes" /></span>
                                                    <br/>
                                                    <xsl:value-of select="aspdnsf:EmailProductToFriend(ProductID, $CatID)" disable-output-escaping="yes"/>
                                                    <br/>
                                                    <xsl:value-of select="aspdnsf:ProductSpecsLink(ProductID, SpecsInline, SpecTitle, SKU, SpecCall)" disable-output-escaping="yes" />
                                                </td>
                                                <td align="right" valign="Middle">
                                                    <nobr>
                                                        <xsl:value-of select="aspdnsf:ProductNavLinks(ProductID, /root/Runtime/EntityID, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                                                    </nobr>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div><br /></div>
                                    <div><xsl:value-of select="$pDescription" disable-output-escaping="yes"/></div>
                                    <div><br /></div>
				                    <xsl:if test="aspdnsf:AppConfigBool('ShowInventoryTable')='true'">
										<div>
        	    				               <xsl:value-of select="aspdnsf:ShowInventoryTable(ProductID, VariantID)" disable-output-escaping="yes" />
										</div>
                				    </xsl:if>
                                    <div>
                                        <xsl:value-of select="aspdnsf:ShowQuantityDiscountTable(ProductID)" disable-output-escaping="yes"/><br/>
                                        <xsl:value-of select="aspdnsf:AddtoCartFormERP(ProductID, VariantID, 1, 3)" disable-output-escaping="yes"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <xsl:value-of select="aspdnsf:RelatedProducts(ProductID)" disable-output-escaping="yes"/>
                        <xsl:value-of select="aspdnsf:ShowUpsellProducts(ProductID)" disable-output-escaping="yes"/>
                        <xsl:value-of select="aspdnsf:ProductSpecs(ProductID, 1, SpecsInline, SpecCall, 400)" disable-output-escaping="yes"/>
                        <xsl:value-of select="aspdnsf:ProductRatings(ProductID, 0, 0, 0, 1)" disable-output-escaping="yes"/>
                    </xsl:otherwise>
                </xsl:choose>

            </xsl:template>

        </xsl:stylesheet>
    </PackageTransform>
</package>
