<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Pack Product" debug="false" includeentityhelper="true">

    <!-- ###################################################################################################### -->
    <!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
    <!-- http://www.aspdotnetstorefront.com														                -->
    <!-- For details on this license please visit  the product homepage at the URL above.		                -->
    <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
    <!-- $Header: /v6.1/Web/XmlPackages/product.simpleproduct.xml.config 1     12/30/05 2:33p Administrator $	        -->
    <!--                                                                                                        -->
    <!-- ###################################################################################################### -->

    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                exec aspdnsf_ProductInfo @ProductID, @CustomerLevelID, 1
            ]]>
        </sql>
        <queryparam paramname="@ProductID" paramtype="request" requestparamname="productid" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
        <queryparam paramname="@CustomerLevelID" paramtype="system" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
    </query>
    <query name="CustomCartItems" rowElementName="Item">
        <sql>
            <![CDATA[
                declare @presetitems varchar(8000)
                select @presetitems = cast(RelatedProducts as varchar(8000)) from product where ProductID = 9
                SELECT cc.*, p.Name, p.PackSize, case when pre.items is null then '0' else pre.items end PresetItem
                FROM  customcart cc 
                    join Product p on cc.ProductID = p.ProductID left 
                    join (select distinct items from dbo.split(@presetitems , ',')) pre on p.ProductID = convert(int, pre.items)
                WHERE cc.CustomerID = @CustomerID and cc.PackID = @PackID and ShoppingCartRecID = @cartrecid
            ]]>
        </sql>
        <queryparam paramname="@CustomerID" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0" validationpattern="" />
        <queryparam paramname="@PackID" paramtype="request" requestparamname="productid" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
        <queryparam paramname="@cartrecid" paramtype="request" requestparamname="cartrecid" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
            <xsl:param name="SecID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/sectionid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/sectionid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>
            <xsl:param name="CatID">
                <xsl:choose>
                    <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
                        <xsl:value-of select="/root/QueryString/categoryid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>
            <xsl:param name="isFull">
                <xsl:choose>
                    <xsl:when test="sum(/root/CustomCartItems/Item/Quantity) &gt;= /root/Products/Product/PackSize">true</xsl:when>
                    <xsl:otherwise>false</xsl:otherwise>
                </xsl:choose>
            </xsl:param>
            <xsl:param name="NumItemsInPack" select="sum(/root/CustomCartItems/Item/Quantity)" />
            <xsl:param name="PackName" select="aspdnsf:GetMLValue(/root/Products/Product/Name)" />
            <xsl:param name="CartRecID">
                <xsl:choose>
                    <xsl:when test="/root/QueryString/cartrecid">
                        <xsl:value-of select="/root/QueryString/cartrecid" />
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>
            <xsl:param name="AllPresetItems">
                <xsl:choose>
                    <xsl:when test="(count(/root/CustomCartItems/Item[PresetItem!='0']) = count(/root/CustomCartItems/Item[PresetItem!='0'])) and count(/root/CustomCartItems/Item[PresetItem!='0']) > 0">1</xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>


            <xsl:template match="/">
                <xsl:comment>Copyright 1995-2007 AspDotNetStorefront.com</xsl:comment>

                <form method="get" action="addtocart.aspx">
                    <xsl:if test="/root/Products/Product/RequiresTextOption=1">
                        <xsl:attribute name="onsubmit">return(validateTextOption())</xsl:attribute>
                        <script>
                            function validateTextOption(){
                                if(document.getElementById('TextOption').value.length==0){
                                    alert("<xsl:value-of select="/root/Products/Product/TextOptionPrompt" />");
                                    document.getElementById('TextOption').focus();
                                    return false;
                                }
                                else{
                                    return true;
                                }
                            }
                        </script>
                    </xsl:if>
                    <xsl:apply-templates select="/root/Products/Product" />
                </form>
                <div>
                    <br/>
                    <xsl:if test="count(/root/CustomCartItems/Item[PresetItem!='0']) = 0">
                        <xsl:value-of select="aspdnsf:RelatedProducts(/root/QueryString/productid)" disable-output-escaping="yes"/>
                    </xsl:if>
                    <xsl:value-of select="aspdnsf:ShowUpsellProducts(/root/QueryString/productid)" disable-output-escaping="yes"/>
                    <xsl:value-of select="aspdnsf:ProductSpecs(/root/Products/Product/ProductID, 1, /root/Products/Product/SpecsInline, /root/Products/Product/SpecCall, 400)" disable-output-escaping="yes"/>
                    <xsl:value-of select="aspdnsf:ProductRatings(/root/QueryString/productid, 0, 0, 0, 1)" disable-output-escaping="yes"/>
                </div>

            </xsl:template>



            <xsl:template match="Product">

                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
                <xsl:param name="pDescription" select="aspdnsf:GetMLValue(Description)"></xsl:param>
                <xsl:param name="pSpecTitle" select="aspdnsf:GetMLValue(SpecTitle)"></xsl:param>
                <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)"></xsl:param>

                <xsl:param name="PackTypePrompt" select="aspdnsf:GetPackTypePrompt($pName)" />
                <xsl:param name="StyleBrowserHeight">
                    <xsl:choose>
                        <xsl:when test="number(aspdnsf:AppConfig('ProductBrowserHeight')) &gt; 0">
                            <xsl:value-of select="aspdnsf:AppConfig('ProductBrowserHeight')" />
                        </xsl:when>
                        <xsl:otherwise>500</xsl:otherwise>
                    </xsl:choose>
                </xsl:param>


                <input type="hidden" name="ProductID" value="{ProductID}" />
                <input type="hidden" name="VariantID" value="{VariantID}" />
                <input type="hidden" name="CartRecID" value="{$CartRecID}" />
                <input type="hidden" name="ReturnURL" value="{/root/System/RequestedPage}" />
                <table border="0" cellpadding="0" cellspacing="4" width="100%">
                    <tr>
                        <td align="center" valign="top" width="40%">
                            <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFilenameOverride, SKU, 'medium', 0)" disable-output-escaping="yes" />
                        </td>
                        <td align="left" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="right">
                                        <xsl:value-of select="aspdnsf:ProductNavLinks(ProductID, /root/Runtime/EntityID, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td>
                                        <font class="ProductNameText">
                                            <xsl:value-of select="$pName" /> 
                                        </font>&#160;&#160;
                                        <xsl:value-of select="aspdnsf:ProductSpecsLink(ProductID, SpecsInline, SpecTitle, SKU, SpecCall)" disable-output-escaping="yes" />
                                        <div>
                                            <xsl:value-of select="aspdnsf:EmailProductToFriend(ProductID, $CatID)" disable-output-escaping="yes" />
                                        </div>
                                        <div align="left">
                                            <div>
                                                <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                                            </div>
                                            <div>
                                                <xsl:value-of select="aspdnsf:ProductDescriptionFile(ProductID, 1)" disable-output-escaping="yes" />
                                            </div>
                                            <div align="left">
                                                <br />
												<span>
													<xsl:attribute name="id">VariantPrice_<xsl:value-of select="VariantID"/></xsl:attribute>
                                                <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
												</span>
                                                <br />
                                                <br/>
                                                <xsl:value-of select="aspdnsf:ShowQuantityDiscountTable(ProductID)" disable-output-escaping="yes"/>
                                                <br/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td height="10"></td>
                                </tr>
                                <tr valign="top">
                                    <td height="20">
                                        <hr size="1" color="#666666" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <xsl:choose>
                                            <xsl:when test="PackSize=0">
                                                <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.16', concat($PackTypePrompt, ',', $PackTypePrompt, ',', $PackTypePrompt, ',', aspdnsf:StringResource('AppConfig.CartPrompt')), ',')" disable-output-escaping="yes" />
                                            </xsl:when>
                                            <xsl:otherwise>
                                                <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.17', concat(PackSize, ',', $PackTypePrompt, ',', $PackTypePrompt, ',', PackSize, ',', PackSize, ',', $PackTypePrompt, ',', $PackTypePrompt, ',', aspdnsf:StringResource('AppConfig.CartPrompt')), ',')" disable-output-escaping="yes" />
                                            </xsl:otherwise>
                                        </xsl:choose>

                                        <br />

                                        <table cellspacing="1" width="100%" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td colspan="5">
                                                        <xsl:choose>
                                                            <xsl:when test="$NumItemsInPack>0 and (PackSize=0 or $NumItemsInPack=PackSize)">
                                                                <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.18', concat($PackTypePrompt, ',', $PackTypePrompt, ',', $PackTypePrompt, ',', PackSize, ',', PackSize, ',', $PackTypePrompt, ',', $PackTypePrompt, ',', aspdnsf:AppConfig('CartPrompt')), ',')" disable-output-escaping="yes" />
                                                            </xsl:when>
                                                            <xsl:otherwise>
                                                                <xsl:choose>
                                                                    <xsl:when test="$NumItemsInPack=0">
                                                                        <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.19', $PackTypePrompt, ',')" disable-output-escaping="yes" />
                                                                    </xsl:when>
                                                                    <xsl:otherwise>
                                                                        <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.20', concat($PackTypePrompt, ',', $NumItemsInPack), ',')" disable-output-escaping="yes" />
                                                                    </xsl:otherwise>
                                                                </xsl:choose>
                                                            </xsl:otherwise>
                                                        </xsl:choose>
                                                        <br/>
                                                        <br/>
                                                    </td>
                                                </tr>
                                                <xsl:if test="RequiresTextOption=1">
                                                <tr>
                                                    <td  colspan="5">
                                                        <font color="red"><xsl:value-of select="TextOptionPrompt" /> (<xsl:value-of select="TextOptionMaxLength" /> chars max):</font><br/>
                                                        <input name="TextOption" id="TextOption" value="" maxlength="{TextOptionMaxLength}" size="50" />
                                                    </td>
                                                </tr>
                                                </xsl:if>
                                                <tr>
                                                    <td width="60%" height="18" class="DarkCell">
                                                        <font class="dyop_hdr">
                                                            &#160;<xsl:value-of select="aspdnsf:StringResource('dyop.aspx.21', $LocaleSetting)" disable-output-escaping="yes" />
                                                        </font>
                                                    </td>
                                                    <td width="10%" height="18" class="DarkCell" align="center">
                                                        <font class="dyop_hdr">
                                                            <xsl:value-of select="aspdnsf:StringResource('AppConfig.ColorOptionPrompt', $LocaleSetting)" disable-output-escaping="yes" />
                                                        </font>
                                                    </td>
                                                    <td width="10%" height="18" class="DarkCell" align="center">
                                                        <font class="dyop_hdr">
                                                            <xsl:value-of select="aspdnsf:StringResource('AppConfig.SizeOptionPrompt', $LocaleSetting)" disable-output-escaping="yes" />
                                                        </font>
                                                    </td>
                                                    <td width="10%" height="18" class="DarkCell" align="center">
                                                        <font class="dyop_hdr">
                                                            <xsl:value-of select="aspdnsf:StringResource('dyop.aspx.22', $LocaleSetting)" disable-output-escaping="yes" />
                                                        </font>
                                                    </td>
                                                    <td width="10%" height="18" class="DarkCell" align="center">
                                                        <font class="dyop_hdr">&#160;</font>
                                                    </td>
                                                </tr>

                                                <xsl:apply-templates select="/root/CustomCartItems/Item" />

                                                <tr>
                                                    <td colSpan="5" height="5" valign="middle">
                                                        <img src="{concat('/skins/skin_', /root/System/SkinID, '/images/spacer_pack_double.gif')}" height="3" width="100%" border="0" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td valign="middle" align="left">
                                                        <font class="dyop_sm">&#160;</font>
                                                    </td>
                                                    <td valign="middle" align="center"></td>
                                                    <td valign="middle" align="center">
                                                        <font class="dyop_sm">
                                                            <b>
                                                                <xsl:value-of select="aspdnsf:StringResource('dyop.aspx.30', $LocaleSetting)" disable-output-escaping="yes" />
                                                            </b>
                                                        </font>
                                                    </td>
                                                    <td valign="middle" align="center">
                                                        <font class="dyop_sm">
                                                            <b>
                                                                <xsl:value-of select="$NumItemsInPack" />
                                                            </b>
                                                        </font>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <xsl:if test="aspdnsf:AppConfigBool('ShowPreviousPurchase')='true'">
                                            <xsl:if test="aspdnsf:Owns(ProductID)">
                                                <div style="text-align:right;">
                                                    <xsl:value-of select="aspdnsf:StringResource('common.cs.86', $LocaleSetting)" disable-output-escaping="yes" />
                                                </div>
                                            </xsl:if>
                                        </xsl:if>

                                        <xsl:choose>
                                            <xsl:when test="PackSize=0">
                                                <xsl:choose>
                                                    <xsl:when test="$NumItemsInPack &gt; 0">
                                                        <div style="text-align:right">
                                                            <input type="submit" class="ReadyToPurchaseButton" value="{aspdnsf:StringResource('dyop.aspx.31')}" id="PurchasePack" name="PurchasePack" />
                                                        </div>
                                                    </xsl:when>
                                                    <xsl:otherwise>
                                                        <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.32', concat($PackTypePrompt, ',', aspdnsf:StringResource('AppConfig.CartPrompt')), ',')" disable-output-escaping="yes" />
                                                    </xsl:otherwise>
                                                </xsl:choose>
                                            </xsl:when>
                                            <xsl:otherwise>
                                                <xsl:choose>
                                                    <xsl:when test="$NumItemsInPack &lt; PackSize">
                                                        <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.33', concat($PackTypePrompt, ',', aspdnsf:StringResource('AppConfig.CartPrompt')), ',')" disable-output-escaping="yes" />
                                                    </xsl:when>
                                                    <xsl:when test="$NumItemsInPack &gt; PackSize">
                                                        <xsl:value-of select="aspdnsf:StrFormatStringresource('dyop.aspx.34', concat($PackTypePrompt, ',', PackSize), ',')" disable-output-escaping="yes" />
                                                    </xsl:when>
                                                    <xsl:otherwise>
                                                        <xsl:if test="$CartRecID = 0">
                                                            <div align="right">
                                                                <input type="submit" class="ReadyToPurchaseButton" value="{aspdnsf:StringResource('dyop.aspx.31')}" id="PurchasePack" name="PurchasePack" />
                                                                <input type="submit" class="ReadyToPurchaseButton" value="Add To WishList" id="Add2Wishlist" name="Add2Wishlist" onclick="document.getElementById('IsWishList').value='1';return true;" />
                                                                <input type="hidden" name="IsWishList" id="IsWishList" value="" />
                                                            </div>
                                                        </xsl:if>
                                                        <xsl:if test="$CartRecID &gt; 0">
                                                            <div align="right">
                                                                <input type="submit" class="ReadyToPurchaseButton" value="{aspdnsf:StringResource('dyop.aspx.35')}" id="PurchasePack" name="UpdateCartPack" />
                                                            </div>
                                                        </xsl:if>
                                                    </xsl:otherwise>
                                                </xsl:choose>
                                            </xsl:otherwise>
                                        </xsl:choose>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <xsl:if test="number($AllPresetItems)=0 or $isFull='false'">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="100%" colspan="2">
                                <table style="BORDER-RIGHT: #444444 0px solid; BORDER-TOP: #444444 0px solid; BORDER-LEFT: #444444 0px solid; BORDER-BOTTOM: #444444 0px solid" cellpadding="2" width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" align="left">
                                                <img src="{concat('skins/Skin_', /root/System/SkinID, '/images/stylebrowser.gif')}" border="0" />
                                                <br />

                                                <table style="BORDER-RIGHT: #444444 1px solid; BORDER-TOP: #444444 1px solid; BORDER-LEFT: #444444 1px solid; BORDER-BOTTOM: #444444 1px solid" cellspacing="0" cellpadding="4" width="100%" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" align="left">
                                                                <iframe height="{$StyleBrowserHeight}" id="sb" name="sb" src="sb.aspx?packid={ProductID}&amp;productid=0&amp;sourceentityid={/root/Runtime/EntityID}&amp;entityname={/root/Runtime/EntityName}&amp;isfull={$isFull}&amp;cartrecid={/root/QueryString/cartrecid}" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="width:100%; display:block"></iframe>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </xsl:if>

            </xsl:template>


            <xsl:template match="Item">
                <xsl:param name="pPackName"></xsl:param>
                <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>

                <tr>
                    <td valign="middle" align="left">
                        <font class="dyop_sm">
                            &#160;
                            <a href="javascript:void(0);" onclick="javascript:document.frames['sb'].location='sb.aspx?type=&amp;packid={PackID}&amp;showproductid={ProductID}&amp;sourceentityid={/root/Runtime/EntityID}&amp;entityname={/root/Runtime/EntityName}&amp;isfull={isFull}&amp;cartrecid={/root/QueryString/cartrecid}';">
                                <xsl:value-of select="$pName"  disable-output-escaping="yes"/>
                            </a>
                        </font>
                    </td>
                    <td valign="middle" align="center">
                        <xsl:value-of select="ChosenColor" />
                    </td>
                    <td valign="middle" align="center">
                        <xsl:value-of select="ChosenSize" />
                    </td>
                    <td valign="middle" align="right">
                        <font class="dyop_sm">
                            <xsl:value-of select="Quantity" />&#160;
                        </font>
                        <xsl:value-of select="aspdnsf:GetPackItemQtyScroller(PackID, ProductID, PresetItem, PackSize, $NumItemsInPack, $pName, /root/Runtime/EntityID, /root/Runtime/EntityName, CustomCartRecID, $CartRecID)" disable-output-escaping="yes" />
                    </td>
                    <td valign="middle" align="center">
                        <xsl:if test="number(PresetItem) = 0">
                            <img style="cursor:hand;cursor:pointer;" onclick="if(confirm(&apos;{aspdnsf:StrFormatStringresource('dyop.aspx.28', $PackName, ',')}&apos;)) self.location='dyop_delete.aspx?type=&amp;packid={PackID}&amp;productid={ProductID}&amp;entityid={/root/Runtime/EntityID}&amp;entityname={/root/Runtime/EntityName}&amp;deleteid={CustomCartRecID}&amp;cartrecid={$CartRecID}';" height="16" alt="Delete this item from your test pack (product 9) pack" src="{aspdnsf:LocateImageURL(skins/skin_1/images/delete.gif, /root/System/LocaleSetting)}" width="32" align="absmiddle" border="0" />
                        </xsl:if>
                    </td>
                </tr>
                <xsl:if test="position()!=last()">
                    <tr>
                        <td colspan="5" height="5" valign="middle">
                            <img src="{aspdnsf:LocateImageURL(skins/skin_1/images/spacer_pack.gif, /root/System/LocaleSetting)}" height="1" width="100%" />
                        </td>
                    </tr>
                </xsl:if>
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
    <SearchEngineSettings>
        <SectionTitle actionType="transform">
            <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
                <xsl:output omit-xml-declaration="yes" indent="no" method="html" standalone="yes"/>
                <xsl:param name="CatID">
                    <xsl:choose>
                        <xsl:when test="/root/QueryString/categoryid != ''">
                            <xsl:value-of select="/root/QueryString/categoryid" />
                        </xsl:when>
                        <xsl:otherwise>
                            <xsl:value-of select="/root/EntityHelpers/Category/Entity[1]/EntityID" />
                        </xsl:otherwise>
                    </xsl:choose>
                </xsl:param>
                <xsl:param name="SecID">
                    <xsl:choose>
                        <xsl:when test="/root/QueryString/sectionid != ''">
                            <xsl:value-of select="/root/QueryString/sectionid" />
                        </xsl:when>
                        <xsl:otherwise>
                            <xsl:value-of select="/root/EntityHelpers/Section/Entity[1]/EntityID" />
                        </xsl:otherwise>
                    </xsl:choose>
                </xsl:param>
                <xsl:param name="pName">
                    <xsl:choose>
                        <xsl:when test="count(/root/Products/Product/Name/ml/locale[@name=$LocaleSetting])!=0">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="count(/root/Products/Product/Name/ml)=0">
                            <xsl:value-of select="/root/Products/Product/Name"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:param>

                <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
                <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

                <xsl:template match="/">
                    <span class="SectionTitleText">
                        <img src="{concat('skins/skin_', /root/System/SkinID, '/images/downarrow.gif')}" border="0" align="absmiddle"/>

                        <xsl:choose>
                            <xsl:when test="number($CatID) != 0">
                                <xsl:for-each select="/root/EntityHelpers/Category/descendant::Entity[EntityID=/root/QueryString/categoryid]/ancestor-or-self::*[child::Name and ancestor::EntityHelpers]">
                                    <xsl:variable name="vName">
                                        <xsl:choose>
                                            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                                                <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                                            </xsl:when>
                                            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                                                <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                                            </xsl:when>
                                            <xsl:when test="count(Name/ml)=0">
                                                <xsl:value-of select="Name"/>
                                            </xsl:when>
                                        </xsl:choose>
                                    </xsl:variable>

                                    <a href="{concat('c-', EntityID, '-', SEName, '.aspx')}"><xsl:value-of select="$vName"/></a>&#0160;-
                                </xsl:for-each>

                            </xsl:when>
                            <xsl:when test="number($SecID) != 0">
                                <xsl:for-each select="/root/EntityHelpers/Section/descendant::Entity[EntityID=/root/QueryString/sectionid]/ancestor-or-self::*[child::Name and ancestor::EntityHelpers]">
                                    <xsl:variable name="vName">
                                        <xsl:choose>
                                            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                                                <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                                            </xsl:when>
                                            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                                                <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                                            </xsl:when>
                                            <xsl:when test="count(Name/ml)=0">
                                                <xsl:value-of select="Name"/>
                                            </xsl:when>
                                        </xsl:choose>
                                    </xsl:variable>

                                    <a href="{concat('s-', EntityID, '-', SEName, '.aspx')}"><xsl:value-of select="$vName"/></a>&#0160;-
                                </xsl:for-each>
                            </xsl:when>
                        </xsl:choose>
                        <xsl:value-of select="$pName"/>
                    </span>
                </xsl:template>
            </xsl:stylesheet>
        </SectionTitle>
        <SETitle actionType="transform">
            <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
                <xsl:output omit-xml-declaration="yes" indent="no" method="text" standalone="yes"/>

                <xsl:template match="/">
                    <xsl:choose>
                        <xsl:when test="/root/Products/Product/SETitle/ml/locale[@name=/root/System/LocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/SETitle/ml/locale[@name=/root/System/LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="/root/Products/Product/SETitle/ml/locale[@name=/root/System/WebConfigLocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/SETitle/ml/locale[@name=/root/System/WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="not(boolean(/root/Products/Product/SETitle/ml))">
                            <xsl:value-of select="/root/Products/Product/SETitle"/>
                        </xsl:when>
                        <xsl:when test="not(boolean(/root/Products/Product/SETitle/ml/locale))">
                            <xsl:value-of select="''"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:template>
            </xsl:stylesheet>
        </SETitle>
        <SEKeywords actionType="transform">
            <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
                <xsl:output omit-xml-declaration="yes" indent="no" method="text" standalone="yes"/>
                <xsl:template match="/">
                    <xsl:choose>
                        <xsl:when test="/root/Products/Product/SEKeywords/ml/locale[@name=/root/System/LocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/SEKeywords/ml/locale[@name=/root/System/LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="/root/Products/Product/SEKeywords/ml/locale[@name=/root/System/WebConfigLocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/SEKeywords/ml/locale[@name=/root/System/WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="not(boolean(/root/Products/Product/SEKeywords/ml))">
                            <xsl:value-of select="/root/Products/Product/SEKeywords"/>
                        </xsl:when>
                        <xsl:when test="not(boolean(/root/Products/Product/SEKeywords/ml/locale))">
                            <xsl:value-of select="''"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:template>
            </xsl:stylesheet>
        </SEKeywords>
        <SEDescription actionType="transform">
            <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
                <xsl:output omit-xml-declaration="yes" indent="no" method="text" standalone="yes"/>

                <xsl:template match="/">
                    <xsl:choose>
                        <xsl:when test="/root/Products/Product/SEDescription/ml/locale[@name=/root/System/LocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/SEDescription/ml/locale[@name=/root/System/LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="/root/Products/Product/SEDescription/ml/locale[@name=/root/System/WebConfigLocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/SEDescription/ml/locale[@name=/root/System/WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="not(boolean(/root/Products/Product/SEDescription/ml))">
                            <xsl:value-of select="/root/Products/Product/SEDescription"/>
                        </xsl:when>
                        <xsl:when test="not(boolean(/root/Products/Product/SEDescription/ml/locale))">
                            <xsl:value-of select="''"/>
                        </xsl:when>
                    </xsl:choose>
                </xsl:template>
            </xsl:stylesheet>

        </SEDescription>
    </SearchEngineSettings>
</package>
