          #BlackMetal_TL {
          background-image: url(../../images/frames/ST/BlackMetal_TL.gif);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #BlackMetal_TOP {
          background-image: url(../../images/frames/ST/BlackMetal_TOP.gif);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #BlackMetal_TR {
          background-image: url(../../images/frames/ST/BlackMetal_TR.gif);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #BlackMetal_LEFT {
          background-image: url(../../images/frames/ST/BlackMetal_LEFT.gif);
          background-repeat: repeat-y;
          background-position:right;
          }
          #BlackMetal_RIGHT {
          background-image: url(../../images/frames/ST/BlackMetal_RIGHT.gif);
          background-repeat: repeat-y;
          background-position: left;
          }
          #BlackMetal_BL {
          background-image: url(../../images/frames/ST/BlackMetal_BL.gif);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #BlackMetal_BOTTOM {
          background-image: url(../../images/frames/ST/BlackMetal_BOTTOM.gif);
          background-repeat: repeat-x;
          background-position: top;
          }
          #BlackMetal_BR {
          background-image: url(../../images/frames/ST/BlackMetal_BR.gif);
          background-repeat: no-repeat;
          background-position: left top;
          }


          #GreyMetal_TL {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_TL.gif);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #GreyMetal_TOP {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_TOP.gif);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #GreyMetal_TR {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_TR.gif);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #GreyMetal_LEFT {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_LEFT.gif);
          background-repeat: repeat-y;
          background-position:right;
          }
          #GreyMetal_RIGHT {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_RIGHT.gif);
          background-repeat: repeat-y;
          background-position: left;
          }
          #GreyMetal_BL {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_BL.gif);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #GreyMetal_BOTTOM {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_BOTTOM.gif);
          background-repeat: repeat-x;
          background-position: top;
          }
          #GreyMetal_BR {
          background-image: url(../../images/frames/ST/ContrastGreyMetal_BR.gif);
          background-repeat: no-repeat;
          background-position: left top;
          }


          #GoldMetal_TL {
          background-image: url(../../images/frames/ST/GoldMetal_TL.gif);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #GoldMetal_TOP {
          background-image: url(../../images/frames/ST/GoldMetal_TOP.gif);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #GoldMetal_TR {
          background-image: url(../../images/frames/ST/GoldMetal_TR.gif);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #GoldMetal_LEFT {
          background-image: url(../../images/frames/ST/GoldMetal_LEFT.gif);
          background-repeat: repeat-y;
          background-position:right;
          }
          #GoldMetal_RIGHT {
          background-image: url(../../images/frames/ST/GoldMetal_RIGHT.gif);
          background-repeat: repeat-y;
          background-position: left;
          }
          #GoldMetal_BL {
          background-image: url(../../images/frames/ST/GoldMetal_BL.gif);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #GoldMetal_BOTTOM {
          background-image: url(../../images/frames/ST/GoldMetal_BOTTOM.gif);
          background-repeat: repeat-x;
          background-position: top;
          }
          #GoldMetal_BR {
          background-image: url(../../images/frames/ST/GoldMetal_BR.gif);
          background-repeat: no-repeat;
          background-position: left top;
          }


          #SilverMetal_TL {
          background-image: url(../../images/frames/ST/SilverMetal_TL.gif);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #SilverMetal_TOP {
          background-image: url(../../images/frames/ST/SilverMetal_TOP.gif);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #SilverMetal_TR {
          background-image: url(../../images/frames/ST/SilverMetal_TR.gif);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #SilverMetal_LEFT {
          background-image: url(../../images/frames/ST/SilverMetal_LEFT.gif);
          background-repeat: repeat-y;
          background-position:right;
          }
          #SilverMetal_RIGHT {
          background-image: url(../../images/frames/ST/SilverMetal_RIGHT.gif);
          background-repeat: repeat-y;
          background-position: left;
          }
          #SilverMetal_BL {
          background-image: url(../../images/frames/ST/SilverMetal_BL.gif);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #SilverMetal_BOTTOM {
          background-image: url(../../images/frames/ST/SilverMetal_BOTTOM.gif);
          background-repeat: repeat-x;
          background-position: top;
          }
          #SilverMetal_BR {
          background-image: url(../../images/frames/ST/SilverMetal_BR.gif);
          background-repeat: no-repeat;
          background-position: left top;
          }


          #BlackWood_TL {
          background-image: url(../../images/frames/ST/BlackWood_TL.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #BlackWood_TOP {
          background-image: url(../../images/frames/ST/BlackWood_TOP.jpg);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #BlackWood_TR {
          background-image: url(../../images/frames/ST/BlackWood_TR.jpg);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #BlackWood_LEFT {
          background-image: url(../../images/frames/ST/BlackWood_LEFT.jpg);
          background-repeat: repeat-y;
          background-position:right;
          }
          #BlackWood_RIGHT {
          background-image: url(../../images/frames/ST/BlackWood_RIGHT.jpg);
          background-repeat: repeat-y;
          background-position: left;
          }
          #BlackWood_BL {
          background-image: url(../../images/frames/ST/BlackWood_BL.jpg);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #BlackWood_BOTTOM {
          background-image: url(../../images/frames/ST/BlackWood_BOTTOM.jpg);
          background-repeat: repeat-x;
          background-position: top;
          }
          #BlackWood_BR {
          background-image: url(../../images/frames/ST/BlackWood_BR.jpg);
          background-repeat: no-repeat;
          background-position: left top;
          }

          #LargeCherryWood_TL {
          background-image: url(../../images/frames/ST/Cherry_TL.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #LargeCherryWood_TOP {
          background-image: url(../../images/frames/ST/Cherry_TOP.jpg);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #LargeCherryWood_TR {
          background-image: url(../../images/frames/ST/Cherry_TR.jpg);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #LargeCherryWood_LEFT {
          background-image: url(../../images/frames/ST/Cherry_LEFT.jpg);
          background-repeat: repeat-y;
          background-position:right;
          }
          #LargeCherryWood_RIGHT {
          background-image: url(../../images/frames/ST/Cherry_RIGHT.jpg);
          background-repeat: repeat-y;
          background-position: left;
          }
          #LargeCherryWood_BL {
          background-image: url(../../images/frames/ST/Cherry_BL.jpg);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #LargeCherryWood_BOTTOM {
          background-image: url(../../images/frames/ST/Cherry_BOTTOM.jpg);
          background-repeat: repeat-x;
          background-position: top;
          }
          #LargeCherryWood_BR {
          background-image: url(../../images/frames/ST/Cherry_BR.jpg);
          background-repeat: no-repeat;
          background-position: left top;
          }

          #TeakWood_TL {
          background-image: url(../../images/frames/ST/Teak_TL.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #TeakWood_TOP {
          background-image: url(../../images/frames/ST/Teak_TOP.jpg);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #TeakWood_TR {
          background-image: url(../../images/frames/ST/Teak_TR.jpg);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #TeakWood_LEFT {
          background-image: url(../../images/frames/ST/Teak_LEFT.jpg);
          background-repeat: repeat-y;
          background-position:right;
          }
          #TeakWood_RIGHT {
          background-image: url(../../images/frames/ST/Teak_RIGHT.jpg);
          background-repeat: repeat-y;
          background-position: left;
          }
          #TeakWood_BL {
          background-image: url(../../images/frames/ST/Teak_BL.jpg);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #TeakWood_BOTTOM {
          background-image: url(../../images/frames/ST/Teak_BOTTOM.jpg);
          background-repeat: repeat-x;
          background-position: top;
          }
          #TeakWood_BR {
          background-image: url(../../images/frames/ST/Teak_BR.jpg);
          background-repeat: no-repeat;
          background-position: left top;
          }


          #SmallCherryWood_TL {
          background-image: url(../../images/frames/ST/OneCherry_TL.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #SmallCherryWood_TOP {
          background-image: url(../../images/frames/ST/OneCherry_TOP.jpg);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #SmallCherryWood_TR {
          background-image: url(../../images/frames/ST/OneCherry_TR.jpg);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #SmallCherryWood_LEFT {
          background-image: url(../../images/frames/ST/OneCherry_LEFT.jpg);
          background-repeat: repeat-y;
          background-position:right;
          }
          #SmallCherryWood_RIGHT {
          background-image: url(../../images/frames/ST/OneCherry_RIGHT.jpg);
          background-repeat: repeat-y;
          background-position: left;
          }
          #SmallCherryWood_BL {
          background-image: url(../../images/frames/ST/OneCherry_BL.jpg);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #SmallCherryWood_BOTTOM {
          background-image: url(../../images/frames/ST/OneCherry_BOTTOM.jpg);
          background-repeat: repeat-x;
          background-position: top;
          }
          #SmallCherryWood_BR {
          background-image: url(../../images/frames/ST/OneCherry_BR.jpg);
          background-repeat: no-repeat;
          background-position: left top;
          }
          
          #Style1_TL {
          background-image: url(../../images/frames/ST/noframe_TL.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #Style1_TOP {
          background-image: url(../../images/frames/ST/noframe_TOP.jpg);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #Style1_TR {
          background-image: url(../../images/frames/ST/noframe_TR.jpg);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #Style1_LEFT {
          background-image: url(../../images/frames/ST/noframe_LEFT.jpg);
          background-repeat: repeat-y;
          background-position:right;
          }
          #Style1_RIGHT {
          background-image: url(../../images/frames/ST/noframe_RIGHT.jpg);
          background-repeat: repeat-y;
          background-position: left;
          }
          #Style1_BL {
          background-image: url(../../images/frames/ST/noframe_BL.jpg);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #Style1_BOTTOM {
          background-image: url(../../images/frames/ST/noframe_BOTTOM.jpg);
          background-repeat: repeat-x;
          background-position: top;
          }
          #Style1_BR {
          background-image: url(../../images/frames/ST/noframe_BR.jpg);
          background-repeat: no-repeat;
          background-position: left top;
          }
          
          #NoFrameSelected_TL {
          background-image: url(../../images/frames/ST/noframe_TL.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;
          }
          #NoFrameSelected_TOP {
          background-image: url(../../images/frames/ST/noframe_TOP.jpg);
          background-repeat: repeat-x;
          background-position: right bottom;
          }
          #NoFrameSelected_TR {
          background-image: url(../../images/frames/ST/noframe_TR.jpg);
          background-repeat: no-repeat;
          background-position: left bottom;
          }
          #NoFrameSelected_LEFT {
          background-image: url(../../images/frames/ST/noframe_LEFT.jpg);
          background-repeat: repeat-y;
          background-position:right;
          }
          #NoFrameSelected_RIGHT {
          background-image: url(../../images/frames/ST/noframe_RIGHT.jpg);
          background-repeat: repeat-y;
          background-position: left;
          }
          #NoFrameSelected_BL {
          background-image: url(../../images/frames/ST/noframe_BL.jpg);
          background-repeat: no-repeat;
          background-position: right top;
          }
          #NoFrameSelected_BOTTOM {
          background-image: url(../../images/frames/ST/noframe_BOTTOM.jpg);
          background-repeat: repeat-x;
          background-position: top;
          }
          #NoFrameSelected_BR {
          background-image: url(../../images/frames/ST/noframe_BR.jpg);
          background-repeat: no-repeat;
          background-position: left top;
          }
          
