          #DarkBlueRedDoubleMat_TL {
          background-image: url(../../images/mats/ST/BlueDrkRed_TL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueRedDoubleMat_TOP {
          background-image: url(../../images/mats/ST/BlueDrkRed_TOP.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueRedDoubleMat_TR {
          background-image: url(../../images/mats/ST/BlueDrkRed_TR.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueRedDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/BlueDrkRed_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueRedDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/BlueDrkRed_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueRedDoubleMat_BL {
          background-image: url(../../images/mats/ST/BlueDrkRed_BL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueRedDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/BlueDrkRed_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueRedDoubleMat_BR {
          background-image: url(../../images/mats/ST/BlueDrkRed_BR.jpg);
          background-repeat: no-repeat;
          }


          #DarkBlueWhite_TL {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_TL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueWhite_TOP {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_TOP.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueWhite_TR {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_TR.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueWhite_LEFT {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueWhite_RIGHT {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueWhite_BL {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_BL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueWhite_BOTTOM {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueWhite_BR {
          background-image: url(../../images/mats/ST/DrkBlueWhtCore_BR.jpg);
          background-repeat: no-repeat;
          }


          #BlueWhite_TL {
          background-image: url(../../images/mats/ST/BlueWhite_TL.jpg);
          background-repeat: no-repeat;
          }
          #BlueWhite_TOP {
          background-image: url(../../images/mats/ST/BlueWhite_TOP.jpg);
          background-repeat: repeat-x;
          }
          #BlueWhite_TR {
          background-image: url(../../images/mats/ST/BlueWhite_TR.jpg);
          background-repeat: no-repeat;
          }
          #BlueWhite_LEFT {
          background-image: url(../../images/mats/ST/BlueWhite_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #BlueWhite_RIGHT {
          background-image: url(../../images/mats/ST/BlueWhite_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #BlueWhite_BL {
          background-image: url(../../images/mats/ST/BlueWhite_BL.jpg);
          background-repeat: no-repeat;
          }
          #BlueWhite_BOTTOM {
          background-image: url(../../images/mats/ST/BlueWhite_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #BlueWhite_BR {
          background-image: url(../../images/mats/ST/BlueWhite_BR.jpg);
          background-repeat: no-repeat;
          }

          #LightGrayBlackDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyBlack_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayBlackDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyBlack_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayBlackDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyBlack_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayBlackDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyBlack_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayBlackDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyBlack_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayBlackDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyBlack_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayBlackDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyBlack_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayBlackDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyBlack_BR.jpg);
          background-repeat: no-repeat;
          }



          #LightGrayOrangeDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyOrange_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayOrangeDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyOrange_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayOrangeDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyOrange_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayOrangeDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyOrange_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayOrangeDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyOrange_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayOrangeDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyOrange_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayOrangeDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyOrange_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayOrangeDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyOrange_BR.jpg);
          background-repeat: no-repeat;
          }

          #LightGrayGreenDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyGreen_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayGreenDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyGreen_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayGreenDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyGreen_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayGreenDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyGreen_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayGreenDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyGreen_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayGreenDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyGreen_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayGreenDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyGreen_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayGreenDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyGreen_BR.jpg);
          background-repeat: no-repeat;
          }



          #LightGrayRedDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyRed_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayRedDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyRed_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayRedDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyRed_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayRedDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyRed_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayRedDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyRed_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayRedDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyRed_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayRedDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyRed_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayRedDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyRed_BR.jpg);
          background-repeat: no-repeat;
          }

          #LightGrayPurpleDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyPurple_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayPurpleDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyPurple_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayPurpleDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyPurple_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayPurpleDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyPurple_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayPurpleDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyPurple_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayPurpleDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyPurple_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayPurpleDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyPurple_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayPurpleDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyPurple_BR.jpg);
          background-repeat: no-repeat;
          }

          #LightGrayYellowDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyYellow_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayYellowDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyYellow_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayYellowDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyYellow_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayYellowDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyYellow_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayYellowDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyYellow_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayYellowDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyYellow_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayYellowDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyYellow_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayYellowDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyYellow_BR.jpg);
          background-repeat: no-repeat;
          }

          #GreenBlackDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreenBlack_TL.jpg);
          background-repeat: no-repeat;
          }
          #GreenBlackDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreenBlack_TOP.jpg);
          background-repeat: repeat-x;
          }
          #GreenBlackDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreenBlack_TR.jpg);
          background-repeat: no-repeat;
          }
          #GreenBlackDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreenBlack_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #GreenBlackDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreenBlack_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #GreenBlackDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreenBlack_BL.jpg);
          background-repeat: no-repeat;
          }
          #GreenBlackDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreenBlack_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #GreenBlackDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreenBlack_BR.jpg);
          background-repeat: no-repeat;
          }

          #GreenBlue_TL {
          background-image: url(../../images/mats/ST/GreenBlue_TL.jpg);
          background-repeat: no-repeat;
          }
          #GreenBlue_TOP {
          background-image: url(../../images/mats/ST/GreenBlue_TOP.jpg);
          background-repeat: repeat-x;
          }
          #GreenBlue_TR {
          background-image: url(../../images/mats/ST/GreenBlue_TR.jpg);
          background-repeat: no-repeat;
          }
          #GreenBlue_LEFT {
          background-image: url(../../images/mats/ST/GreenBlue_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #GreenBlue_RIGHT {
          background-image: url(../../images/mats/ST/GreenBlue_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #GreenBlue_BL {
          background-image: url(../../images/mats/ST/GreenBlue_BL.jpg);
          background-repeat: no-repeat;
          }
          #GreenBlue_BOTTOM {
          background-image: url(../../images/mats/ST/GreenBlue_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #GreenBlue_BR {
          background-image: url(../../images/mats/ST/GreenBlue_BR.jpg);
          background-repeat: no-repeat;
          }

          #GreenYellowDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreenYellow_TL.jpg);
          background-repeat: no-repeat;
          }
          #GreenYellowDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreenYellow_TOP.jpg);
          background-repeat: repeat-x;
          }
          #GreenYellowDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreenYellow_TR.jpg);
          background-repeat: no-repeat;
          }
          #GreenYellowDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreenYellow_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #GreenYellowDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreenYellow_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #GreenYellowDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreenYellow_BL.jpg);
          background-repeat: no-repeat;
          }
          #GreenYellowDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreenYellow_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #GreenYellowDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreenYellow_BR.jpg);
          background-repeat: no-repeat;
          }

          #GreenDarkRedDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreenDrkRed_TL.jpg);
          background-repeat: no-repeat;
          }
          #GreenDarkRedDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreenDrkRed_TOP.jpg);
          background-repeat: repeat-x;
          }
          #GreenDarkRedDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreenDrkRed_TR.jpg);
          background-repeat: no-repeat;
          }
          #GreenDarkRedDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreenDrkRed_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #GreenDarkRedDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreenDrkRed_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #GreenDarkRedDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreenDrkRed_BL.jpg);
          background-repeat: no-repeat;
          }
          #GreenDarkRedDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreenDrkRed_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #GreenDarkRedDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreenDrkRed_BR.jpg);
          background-repeat: no-repeat;
          }

          #DarkBlueOrangeDoubleMat_TL {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_TL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueOrangeDoubleMat_TOP {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_TOP.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueOrangeDoubleMat_TR {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_TR.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueOrangeDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueOrangeDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueOrangeDoubleMat_BL {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_BL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueOrangeDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueOrangeDoubleMat_BR {
          background-image: url(../../images/mats/ST/DrkBlueBrntOrange_BR.jpg);
          background-repeat: no-repeat;
          }


          #DarkBlueRedDoubleMat_TL {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_TL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueRedDoubleMat_TOP {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_TOP.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueRedDoubleMat_TR {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_TR.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueRedDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueRedDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #DarkBlueRedDoubleMat_BL {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_BL.jpg);
          background-repeat: no-repeat;
          }
          #DarkBlueRedDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #DarkBlueRedDoubleMat_BR {
          background-image: url(../../images/mats/ST/DrkBlueDrkRed_BR.jpg);
          background-repeat: no-repeat;
          }


          #LightGrayDarkBlueDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyDrkBlue_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayDarkBlueDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyDrkBlue_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayDarkBlueDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyDrkBlue_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayDarkBlueDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyDrkBlue_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayDarkBlueDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyDrkBlue_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayDarkBlueDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyDrkBlue_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayDarkBlueDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyDrkBlue_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayDarkBlueDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyDrkBlue_BR.jpg);
          background-repeat: no-repeat;
          }

          #LightGrayDarkRedDoubleMat_TL {
          background-image: url(../../images/mats/ST/GreyDrkRed_TL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayDarkRedDoubleMat_TOP {
          background-image: url(../../images/mats/ST/GreyDrkRed_TOP.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayDarkRedDoubleMat_TR {
          background-image: url(../../images/mats/ST/GreyDrkRed_TR.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayDarkRedDoubleMat_LEFT {
          background-image: url(../../images/mats/ST/GreyDrkRed_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayDarkRedDoubleMat_RIGHT {
          background-image: url(../../images/mats/ST/GreyDrkRed_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #LightGrayDarkRedDoubleMat_BL {
          background-image: url(../../images/mats/ST/GreyDrkRed_BL.jpg);
          background-repeat: no-repeat;
          }
          #LightGrayDarkRedDoubleMat_BOTTOM {
          background-image: url(../../images/mats/ST/GreyDrkRed_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #LightGrayDarkRedDoubleMat_BR {
          background-image: url(../../images/mats/ST/GreyDrkRed_BR.jpg);
          background-repeat: no-repeat;
          }
          
          #style2_TL {
          background-image: url(../../images/mats/ST/nomat_TL.jpg);
          background-repeat: no-repeat;
          }
          #style2_TOP {
          background-image: url(../../images/mats/ST/nomat_TOP.jpg);
          background-repeat: repeat-x;
          }
          #style2_TR {
          background-image: url(../../images/mats/ST/nomat_TR.jpg);
          background-repeat: no-repeat;
          }
          #style2_LEFT {
          background-image: url(../../images/mats/ST/nomat_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #style2_RIGHT {
          background-image: url(../../images/mats/ST/nomat_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #style2_BL {
          background-image: url(../../images/mats/ST/nomat_BL.jpg);
          background-repeat: no-repeat;
          }
          #style2_BOTTOM {
          background-image: url(../../images/mats/ST/nomat_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #style2_BR {
          background-image: url(../../images/mats/ST/nomat_BR.jpg);
          background-repeat: no-repeat;
          }
          
          #NoMatSelected_TL {
          background-image: url(../../images/mats/ST/nomat_TL.jpg);
          background-repeat: no-repeat;
          }
          #NoMatSelected_TOP {
          background-image: url(../../images/mats/ST/nomat_TOP.jpg);
          background-repeat: repeat-x;
          }
          #NoMatSelected_TR {
          background-image: url(../../images/mats/ST/nomat_TR.jpg);
          background-repeat: no-repeat;
          }
          #NoMatSelected_LEFT {
          background-image: url(../../images/mats/ST/nomat_LEFT.jpg);
          background-repeat: repeat-y;
          }
          #NoMatSelected_RIGHT {
          background-image: url(../../images/mats/ST/nomat_RIGHT.jpg);
          background-repeat: repeat-y;
          }
          #NoMatSelected_BL {
          background-image: url(../../images/mats/ST/nomat_BL.jpg);
          background-repeat: no-repeat;
          }
          #NoMatSelected_BOTTOM {
          background-image: url(../../images/mats/ST/nomat_BOTTOM.jpg);
          background-repeat: repeat-x;
          }
          #NoMatSelected_BR {
          background-image: url(../../images/mats/ST/nomat_BR.jpg);
          background-repeat: no-repeat;
          }