body
{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
    font-size: 100%;
    font-family: Tahoma, Verdana, sans-serif;
    overflow: -moz-scrollbars-vertical;
}
table
{
    font-size: 1em !important;
    font-family: Tahoma, Verdana, sans-serif;
    border: none;
}
table input
{
    font-size:1em;
}
table select
{
    font-size:1em;
}

form
{
    margin: 0;
    padding: 0;
}
#content input, #content select
{
    font-size: 1em;
}
img
{
    border: none;
}
a:active, a:link, a:visited
{
    color: #4F3001;
    text-decoration: underline;
}
a:hover
{
    color: #B16A00;
}
fieldset, form
{
    border: none;
    margin: 0;
    padding: 0;
}
h3
{
    margin: 1em 0 0.5em 0;
    padding-top: 1em;
    color: #6B6F83;
    font-size: 1.25em;
    text-align: left;
    border-bottom: solid 2px #4776BD;
}
/* Hides from IE-mac \*/
* html .clear, * html .floatform
{
    height: 1%;
}
.clear, .floatform
{
    display: block;
}
/* End hide from IE-mac */

ul.tame, ul.tame li
{
    margin: 0;
    padding: 0;
    display: list-item;
    list-style: none;
}
ul.tame li
{
    line-height: 1.25em;
}
.tameHoriz, ul.tameHoriz li
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
}
ul.tameHoriz li
{
    display: inline;
    font-size: 1em;
}
br.cl
{
    clear: both;
}


/*PAGE SETUP*/
#userName
{
}
#loginText
{
    margin-left: 1em;
}
textarea#OrderNotes
{
    width: 99% !important;
}

#wrapper
{
    width: 905px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-size: 0.71em !important;
}


#header
{
    height: auto;
    width: 905px;
    line-height: 3em;
    text-align: right;
    margin-bottom: 3px;
    float: left;
}
#bodyWrapper
{
    padding: 0;
    margin-bottom: 10px;
    height: auto;
    width: 905px;
    float: left;
    border: 1px solid #fff;
}

#leftWrap
{
    width: 190px;
    float: left;
    clear: both;
}

#content
{
    margin: 0 0 1em 10px;
    width: 703px;
    height: auto;
    background-color: #fff;
    float: right;
    clear: none;
}
#footer
{
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F6F5F5;
    text-align: center;
}
#breadcrumb
{
    float: left;
    color: #444;
}
#miniCart
{
    float: right;
}
#ML
{
    width: 550px;
    font-size: 0.85em;
}
#ML, #ML div
{
    float: right;
    vertical-align: middle;
}
#ML div select
{
    font-size: 0.88em;
    margin: 2px 0.5em 4px 0;
    vertical-align: middle;
}

#breadcrumb, #minicart, #ML
{
    height: 2em;
    line-height: 1.5em;
    color: #444;
}
#breadcrumb a, #miniCart a
{
    color: #E17F00;
}
input.submit
{
    border: 1px double #999;
    border-top-color: #ccc;
    border-left-color: #ccc;
    padding: 0.1em;
    margin: 0;
    background-color: #fff;
    background-image: url(images/background-form-element.png);
    color: #333;
    font-size: 1em;
    font-weight: bold;
    font-family: Tahoma,Verdana,Helvetica,Arial,sans-serif;
}
input.submit:active
{
    border: 1px double #ccc;
    border-top-color: #999;
    border-left-color: #999;
}


/*HEADER ELEMENTS*/


#logo
{
    float: left;
    width: 210px;
    height: 34px;
    background: url(images/logo.gif) no-repeat center center;
    margin-right: 10px;
    display: block;
}

#logo b
{
    display: none;
}


a.wishlist
{
    background: url(images/icons/wishlist.gif) no-repeat left bottom;
}
a.cart
{
    background: url(images/icons/cart.gif) no-repeat left bottom;
}
a.account
{
    background: url(images/icons/your-account.gif) no-repeat left bottom;
}
a.faq
{
    background: url(images/icons/faq.gif) no-repeat left bottom;
}
a.contact
{
    background: url(images/icons/contact-us.gif) no-repeat left bottom;
}
a.wishlist, a.cart, a.faq, a.contact, a.account
{
    padding: 3px 15px 3px 20px;
    position: relative;
}
#header u
{
    color: #000;
    text-decoration: none;
}
#login
{
    margin: 0;
    padding: 0;
    float: right;
    font-size: 0.8em;
    padding-right: 15px;
}

/* HEADER HORIZ NAV*/

#horizNav
{
    text-align: left;
    width: 905px;
    margin: 0;
    clear: left;
    line-height: 35px;
    height: 35px;
    background: #ffa801 url(images/nav-bg.gif) repeat;
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    position: relative;
    z-index: 1;
}
#horizNav a:active, #horizNav a:link, #horizNav a:visited
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Tahoma,Verdana,sans-serif;
}

#nav
{
    margin: 0;
    padding: 0;
    height: 35px;
    list-style: none;
    white-space: nowrap;
}
#nav a
{
    margin: 0;
    padding: 0.9em 15px;
    background: url(images/tab-sep.gif) no-repeat center left;
}
#nav a:hover, #nav #firstTab a:hover
{
    background: url(images/nav-bg-hover.gif) repeat-x center right;
}

#nav li
{
    float: left;
    position: relative;
    margin: 0;
    background: #ffa801 url(images/nav-bg.gif) center left repeat;
}

#nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: solid 1px transparent;
    text-align: left;
}
#nav li ul
{
    width: 10em;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    color: #fff;
}
#nav li li
{
    font-size: 0.8em;
    line-height: 2em;
    margin: 0;
    background: #474B58 none;
    width: 100%;
    border-bottom: solid 1px #CECECE;
}
#nav li li a
{
    display: block;
    margin: 0;
    background: none;
    padding: 0 1em;
    color: #fff !important;
}
#nav li li a:hover, #nav li li:hover
{
    background: #BABDC6 none !important;
}
#nav li > ul
{
    top: auto;
    left: auto;
}
#nav li:hover ul, #nav li.over ul
{
    display: block;
}
#nav #firstTab
{
    background-image: none !important;
    margin: 0;
}
/* HORIZ NAV SUB */

#horizNav2
{
    clear: both;
    background: #6B6F83 url(images/sub-nav-fade.gif) repeat-x left center;
    width: 905px;
    height: 3em;
    line-height: 3em;
    color: #fff;
    padding: 0;
    margin-top: 0px;
    border-top: 1px solid #aaa;
}
#horizNav2 a:active, #horizNav2 a:link, #horizNav2 a:visited
{
    color: #fff;
    text-decoration: underline;
}
#horizNav2 a:hover
{
    color: #eee;
}
#horizNav2 span
{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}
#horizNav2 form label
{
    color: #fff;
}
#horizNav2 form
{
    float: left;
    padding: 0 2em 0 1em;
    width: auto;
}
#horizNav2 fieldset
{
    width: 210px;
}

#horizNav2 ul
{
    float: left;
    padding: 0 1em;
}
.pipe
{
    padding: 0 1em;
    font-size: 0.9em;
    font-weight: normal;
}
img.liveHelp
{
    float: right;
    padding: 0 1em;
    vertical-align: middle;
    margin-top: 4px;
}

.searchBox
{
    height: 1.5em;
    width: 10em;
    border: 1px solid #A7A6AA;
    margin-top: 0.7em;
}




/* LEFT NAV */

.leftNav
{
    border: 1px solid #ddd;
    border-top: 1px solid #F0EFEF;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
   
}
.navHeader
{
    background: url(images/nav-header-bg.gif) no-repeat left bottom;
    width: 190px;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    color: #fff;
    font-weight: bold;
}
.catMark
{
    font-size: 0.8em;
    font-weight: bold;
    color: #aaa;
    letter-spacing: -2px;
}

/* FOOTER ELEMENTS */
#footer ul
{
    list-style: none;
    color: #444;
}

div#footerWrap
{
    width: 905px;
    height: auto;
    margin: 0;
    padding: 5px 0;
    border: 1px dashed #ddd;
}
.footerList
{
    text-align: left;
    width: 24%;
    height: 100%;
    display: inline;
    float: left;
    border-right: 1px dashed #ddd;
}
.topList li
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    list-style: none;
}

/* CLOSER */
#closer
{
    font-size: 0.7em;
    color: #444;
    margin: 1em 0;
}
#closer a
{
    color: #444;
}


/* PRODUCT PAGE */
#productTopBox
{
    text-align: right;
    padding: 1.5em 10px 10px 10px;
}
h2
{
    margin: 0;
    font-size: 1.4em;
    text-align: left;
    border-bottom: solid 2px #fa9d00;
}

#sku
{
    display: block;
}
#price
{
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}
.SalePrice
{
    color: #cc0000 !important;
}
#description, #quoteBox, #otherinfo
{
    margin: 10px;
}
.prodHeader
{
    width: 99.5%;
    height: 1.2em;
    color: #6B6F83;
    clear: both;
    font-weight: bold;
    font-size: 1.2em;
    padding: 3px 5px;
    border-bottom: solid 2px #fa9d00;
}
#quoteBox input, #quoteBox select
{
    font-size: 1em;
    display: block;
    margin: 5px 0;
}
#mainImg
{
    margin: 0 10px 10px 0;
    float: left;
}
.AddToCartButton, .AddToWishButton, #Quantity
{
    font-size: 1em;
}
.addToForm
{
    margin-top: 1em;
}
#shipQuoteLabels
{
    width: 10em;
    height: auto;
    float: left;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}
#shipQuoteLabels label
{
    display: block;
    line-height: 2em;
}
#ShipQuote, #yourQuote
{
    font-weight: bold;
    line-height: 2em;
}
#shipQuoteWrapper
{
    height: auto;
    float: left;
}
#navArrows
{
    float: right;
}

/* ENTITY LANDING PAGE */

.topFeature
{
    float: left;
    width: 24.8%;
    height: auto;
    text-align: left;
}

.topFeatureP
{
    margin: 0;
    padding: 0.5em;
    text-align: left;
}
.topFeature p
{
    margin: 0;
    text-align: left;
}
.topFeatureP img
{
    margin-bottom: 0.5em;
}
.topPrice, .topName
{
    font-weight: bold;
    text-align: left;
}

#entitySep
{
    clear: both;
    margin-top: 1em;
}
.btmP
{
    clear: left;
    border-bottom: 1px solid #eee;
    float: left;
    width: 683px;
    margin: 0.5em 0;
    padding: 0.5em;
}
.btmP img
{
    float: left;
    margin-right: 1em;
}
.btmP span
{
    display: block;
}
.btmName, .btmPrice, .btmSalePrice
{
    font-size: 1.1em;
    font-weight: bold;
}
.btmDescription, .topDescription
{
    display: block;
    padding-bottom: 1em !important;
}
.btmPrice
{
}
.btmSalePrice
{
    color: #cc0000;
}
.btmInStock, .btmOutStock, .topInStock, .topOutStock
{
    display: inline !important;
    font-weight: bold;
    color: #FA9D00;
}
.btmOutStock, .topOutStock
{
    color: #aaa;
}
#entityPageHeader p
{
    margin-top: 0;
}
#entityPageHeader img
{
    margin: 0 1em 0.5em 0;
    float: right;
}

.entityCategory
{
    margin: 0 0 1em 0;
    font-size: 1.1em;
}

/* OTHER SELECTORS */
.MediumCell, .LightCell
{
    border: none;
}

.error
{
    font-size:1.25em;
    font-weight:bold;
    color:#ff0000;
	line-height: 35px;
}

.errorLg
{
    color: Red;
    font-size: 12px;
    font-weight: bold;
}

.SBProdName
{
    font-size: .7em;
}
.SBCatName
{
    font-size: .8em;
    font-weight: bold;
}

.PBCartFull
{
    font-size: .7em;

    color: Blue;
    font-weight: bold;
}



/* COMPONENT ART HORIZONTAL MENU */

.TopMenuGroup
{
    border: solid 0px #000;
    background-color: transparent;
    line-height:35px;  
}

.MenuGroup
{
    border: solid 0px #000;
    color: #000000;
    font-size: 0.8em!important;
    margin: 0;
    background: #474B58 none;
}

.MenuGroup td, .MenuGroupHover td, .MenuItemHover td, td.MenuItemHover
{
    color: #fff
}

.TopMenuItem, .TopMenuItemHover
{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: hand;
    cursor: pointer;
    margin:0;
    padding: 0 1.25em!important;
    line-height: 35px;
    vertical-align:middle;
    background: url(images/tab-sep.gif) no-repeat top left;
}
.TopMenuItem
{
    background: url(images/tab-sep.gif) no-repeat top left;
}


/*leaf menu items*/
.MenuItem, .MenuItemHover, .MenuItem td, .MenuItemHover td
{
    color: #fff;
    border: solid 0px white;
    cursor: hand;
    cursor: pointer;
    margin: 0;
    background: #474B58 none;
    width: 100%!important;
}

.MenuItemHover, .MenuItemHover td
{
    background: #BABDC6 none;  
}

.ScrollItem
{
    background-color: green;
    font-size: 0.8em;
    border: solid 0px gray;
    cursor: default;
    text-align: center;
}

.ScrollItemH
{
    background-color: aqua;
    color: orange;
    font-size: 0.8em;
    border: solid 0px gray;
    cursor: default;
    text-align: center;
}

.ScrollItemA
{
    background-color: Lime;
    color: yellow;
    font-size: 0.8em;
    border: solid 0px gray;
    cursor: default;
    text-align: center;
}
/*
-----------------------------------------------------------------------
 Component Art Vertical Menu Style:
-----------------------------------------------------------------------


.VertTopMenuGroup
{
  border:solid 0px #003167;
  background-color:transparent;
}

.VertMenuGroup
{
  border:solid 0px #003167;
  background-color:transparent;
}

.VertTopMenuItem
{
  color:#FFFFFF;
  font-size:11px;
  cursor:hand;
  cursor:pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

.VertTopMenuItem td {color:#FFFFFF;}
.VertTopMenuItem td {color:#FFFFFF;}
.VertTopMenuItem td {color:#FFFFFF;}
td.VertTopMenuItem {color:#FFFFFF;}

.VertTopMenuItemHover
{
  color:#444444;
  background-color:#FEDF15;
  font-size:11px;
  cursor:hand;
  cursor:pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.VertMenuItem
{
  background-color:White;
  color:#444444;
  font-size:11px;
  border: solid 0px white;
  cursor:hand;
  cursor:pointer;
  padding-top: 3px;
  padding-bottom: 3px;
}

td.VertMenuItemHover
{
  background-color:#EEEEEE;
  color:#285D9F;
  font-size:11px;
  border: solid 0px white;
  cursor:hand;
  cursor:pointer;
  padding-top: 3px;
  padding-bottom: 3px;
}

.VertMenuItem
{
  background-color:White;
  color:#444444;
  font-size:11px;
  border: solid 0px white;
  cursor:hand;
  cursor:pointer;
  padding-top: 3px;
  padding-bottom: 3px;
}

.VertMenuItemHover
{
  background-color:#EEEEEE;
  color:#285D9F;
  font-size:11px;
  border: solid 0px white;
  cursor:hand;
  cursor:pointer;
  padding-top: 3px;
  padding-bottom: 3px;
}

.VertScrollItem
{
  background-color:#FBFBFB; 
  font-size:11px; 
  border:solid 0px #FBFBFB; 
  cursor:default;
  text-align:center;
}

.VertScrollItemH
{
  background-color:silver; 
  color:black; 
  font-size:11px; 
  border:solid 0px gray; 
  cursor:default;
  text-align:center;
}

.VertScrollItemA
{
  background-color: darkgray; 
  color:black; 
  font-size:11px; 
  border:solid 0px gray; 
  cursor:default;
  text-align:center;
}
*/

/*
-----------------------------------------------------------------------
 Component Art Tree Style:
-----------------------------------------------------------------------


.TreeView 
{ 
  background-color:transparent;
  border: #919191 0px solid; 
  padding-top:2px;
  cursor: default; 
  color: #FFFFFF;
  cursor: hand;
  cursor:pointer;
}

.TreeNode 
{ 
  font-size: 11px; 
  color: #FFFFFF;
  padding:0px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: hand; 
  cursor:pointer;
}

.HoverTreeNode 
{ 
  color: #FFCC00;
  font-size: 11px; 
  padding:0px;
  padding-left: 3px; 
  padding-right: 3px; 
  text-decoration: none; 
  cursor: hand; 
  cursor:pointer;
}

.SelectedTreeNode 
{ 
  font-size: 11px; 
  padding:0px;
  padding-left: 3px; 
  padding-right: 3px; 
  background-color: #a0a0a0; 
  cursor: hand; 
  cursor:pointer;
}

.NodeEdit 
{
  border:1px silver solid;
  font-size: 11px;
}

*/

#AjaxShipping
{
    width: 99%;
    border: solid 1px #444;
    height: 100%;
    float: left;
    padding: 3px;
}
#AjaxShipping h4
{
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 1.1em;
}
.AjaxShippingLabel
{
    width: 175px !important;
    float: left;
    font-weight: bold;
    clear: left;
}
#AjaxShipping input, #AjaxShipping select
{
    font-size: 1em;
    float: left;
}
#AjaxShippingCountry, #AjaxShippingState, #AjaxShippingZip, #AjaxShippingEstimate
{
    float: left;
    clear: left;
    border-top: solid 1px #eee;
    width: 99%;
    padding: 3px 0;
}
#ShipQuote
{
    float: left;
    margin: 0;
}
/* Set Visibility to :hidden and uncomment 'display' to turn off */
#AjaxShippingCountry
{
    visibility: visible;
    /*display:none;*/
}
#AjaxShippingState
{
    visibility: visible;
    /*display:none;*/
}

.OrderOptionsTitle  { color: #0000FF; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; }
.OrderOptionsRowHeader  { color: #000000; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; }
.OrderOptionsName  { color: #000000; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: normal; }
.OrderOptionsDescription  { color: #000000; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; }
.OrderOptionsPrice  { color: #000000; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10pt; }
